- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.layoutInfo
                .container
                    h2.color1.mb30 Travel information
                    ul.layoutInfo__navbar
                        li
                            a(href='newAndUpdate.html')
                                span News & updates
                        li.active
                            a(href='baggageInfo.html')
                                span Baggage information
                        li
                            a(href='flightRoutes.html')
                                span Flight routes
                        li
                            a(href='fleet.html')
                                span Fleet Revitalization
                        li
                            a(href='favDes.html')
                                span Favourite Destinations
                    .layoutInfo__body
                        .layoutInfo__banner(style='background-image: url("../images/baggageInfo-banner.jpg");')
                            .container
                                h1
                                    | Baggage information
                        .baggageInfo
                            h3.mb15.color1 Baggage policy
                            p.text14.colorBlack85.medium.mb15 Baggage information is always the biggest concern for all passengers. Please see the relevant baggage information below to book a ticket class that best suits you:
                            h4.mb15.color1 Checked baggage
                            p.text14.colorBlack85.medium.mb15 1. Checked baggage policy applied to domestic flights:
                            .baggageInfo__table
                                table.table.table-blue
                                    thead
                                        tr
                                            th.bgBlue1.text-center.w16
                                                p.text16.colorWhite.medium PASSENGER
                                            th.bgBlue2.text-center.w16
                                                p.text14.colorWhite.regular Eco Promotion
                                            th.bgBlue3.text-center.w16
                                                p.text14.colorWhite.regular Economy Saver
                                            th.bgBlue4.text-center.w16
                                                p.text14.colorWhite.regular Economy
                                            th.bgBlue5.text-center.w16
                                                p.text14.colorWhite.regular Premium Economy
                                            th.bgBlue6.text-center.w16
                                                p.text14.colorWhite.regular Business

                                    tbody
                                        tr
                                            td.w16
                                                p.text14.colorBlack85.medium Adult/child
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 40 kgs
                                        tr
                                            td.w16
                                                p.text14.colorBlack85.medium Infant without seat
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                            p.text14.colorBlack85.medium.mb15 2. Checked baggage policy applied to flighs: Asia, Australia, New Zealand/ Europe, Africa, Middle East/ Asia, Australia, New Zealand/ South Asia:
                            .baggageInfo__table
                                table.table.table-blue
                                    thead
                                        tr
                                            th.bgBlue1.text-center.w16
                                                p.text16.colorWhite.medium PASSENGER
                                            th.bgBlue2.text-center.w16
                                                p.text14.colorWhite.regular Eco Promotion
                                            th.bgBlue3.text-center.w16
                                                p.text14.colorWhite.regular Economy Saver
                                            th.bgBlue4.text-center.w16
                                                p.text14.colorWhite.regular Economy
                                            th.bgBlue5.text-center.w16
                                                p.text14.colorWhite.regular Premium Economy
                                            th.bgBlue6.text-center.w16
                                                p.text14.colorWhite.regular Business

                                    tbody
                                        tr
                                            td.w16
                                                p.text14.colorBlack85.medium Adult/child
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 40 kgs
                                        tr
                                            td.w16
                                                p.text14.colorBlack85.medium Infant without seat
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                            p.text14.colorBlack85.medium.mb15 3. Checked baggage policy applied to flighs to/from USA/Canada:
                            .baggageInfo__table
                                table.table.table-blue
                                    thead
                                        tr
                                            th.bgBlue1.text-center.w16
                                                p.text16.colorWhite.medium PASSENGER
                                            th.bgBlue2.text-center.w16
                                                p.text14.colorWhite.regular Eco Promotion
                                            th.bgBlue3.text-center.w16
                                                p.text14.colorWhite.regular Economy Saver
                                            th.bgBlue4.text-center.w16
                                                p.text14.colorWhite.regular Economy
                                            th.bgBlue5.text-center.w16
                                                p.text14.colorWhite.regular Premium Economy
                                            th.bgBlue6.text-center.w16
                                                p.text14.colorWhite.regular Business

                                    tbody
                                        tr
                                            td.w16
                                                p.text14.colorBlack85.medium Adult/child
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 30 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 40 kgs
                                        tr
                                            td.w16
                                                p.text14.colorBlack85.medium Infant without seat
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                                            td.w16
                                                p.text14.colorBlack85.text-center 10 kgs
                            p.text14.colorBlack85.medium.mb15 Important note:
                            p.text14.colorBlack85.mb15 • In some cases, the baggage rules that apply for your journey may be different from above information. If you are our customer, please contact us for futher advice.
                            p.text14.colorBlack85.mb15 • Prepaid baggage fee is non-re-routable/non-transferable and non-refundable in any case even your actual baggage’s weight is less than the prepaid baggage paid.
                            p.text14.colorBlack85.mb15 • Prepaid baggage fee is non-refundable after confirmation email is sent out to your registered email address. However, in cases of flight delayed/cancellation or irregular operation and the passenger decides not to continue his flight, prepaid baggage fee will be refunded fully to the card used. Your prepaid baggage will be moved to new flight if your original flight is delayed/cancelled.
                            p.text14.colorBlack85.mb15 • For passengers who wish to change to another flight due to the delay/cancellation, previously issued prepaid baggage may be carried over to the new flight. Change should be done at least 48 hours prior to your departure time.
                            p.text14.colorBlack85.mb15 For more information about your checked baggage, kindly email us via 24/7 supporting email: reservations@flythaiairways.com or it can be seen in your booking details.
                            h4.mb15.color1 Hand bagage
                            p.text14.colorBlack85.medium.mb15 In addition to checked baggage, each passenger is allowed to carry up to 7 kg of hand baggage with a maximum length 56 cm x width 45 cm x depth 25 cm. Passengers are allowed to bring the following items for free:
                            p.text14.colorBlack85.mb15 Handbag/wallet/purse with the maximum length 37.5 cm x width 25 cm x depth 12.5 cm, or the total of three dimensions do not exceed 75 cm with the total weight not exceeding 1.5 kgs.
                            p.text14.colorBlack85.mb15 Notebooks, or personal computers
                            p.text14.colorBlack85.mb15 • Walking sticks (crutches)
                            p.text14.colorBlack85.mb15 • Infant food
                            p.text14.colorBlack85.mb15 • Not allowed to use the equipment/devices/travel gadgets such as personal air purifier/ionizers, seat-recline preventer, knee defender, inflight beds owned by passengers on board
                            p.text14.colorBlack85.mb15 • All liquids, aerosols, and gels in carry-on baggage must be carried in containers with a capacity not greater than 100ml.
                            h4.mb15.color1 Excess baggage rate charge
                            p.text14.colorBlack85.mb15 For baggage that exceeds the free baggage allowance, the passenger will be charged for the Excess Baggage Rate Charge. Excess Baggage Rate Charge is calculated as follows:
                            p.text14.colorBlack85.medium.mb15 1. Excess Baggage Charge rate for Domestic sectors:
                            .baggageInfo__table
                                table.table.table-blue
                                    thead
                                        tr
                                            th
                                                p.text16.colorWhite Sectors
                                            th
                                                p.text16.colorWhite.text-center Rate (THB Per Kilogram)
                                    tbody
                                        tr
                                            td
                                                p.text14.colorBlack85 Chiang Mai - Bangkok
                                            td
                                                p.text14.colorBlack85.text-center 60
                                        tr
                                            td
                                                p.text14.colorBlack85 Chiang Rai - Bangkok
                                            td
                                                p.text14.colorBlack85.text-center 60
                                        tr
                                            td
                                                p.text14.colorBlack85 Hat Yai - Bangkok
                                            td
                                                p.text14.colorBlack85.text-center 60
                            p.text14.colorBlack85.medium.mb15 2. Excess Baggage Charge rate for international sectors:
                            p.text14.colorBlack85.mb15 Excess charge rate varies upon each zone as per the table below:
                            .baggageInfo__table
                                table.table.table-blue
                                    thead
                                        tr
                                            th
                                                p.text16.colorWhite.text-center Per 1 kg
                                            th(colspan='6')
                                                p.text16.colorWhite.text-center Destination
                                    tbody
                                        tr
                                            td.w17
                                                p.text14.colorBlack85 Origin
                                            td.w17
                                                p.text14.colorBlack85.text-center Zone 1


                                            td.w17
                                                p.text14.colorBlack85.text-center Zone 2


                                            td.w17
                                                p.text14.colorBlack85.text-center Zone 3


                                            td.w17
                                                p.text14.colorBlack85.text-center Zone 4


                                            td.w17
                                                p.text14.colorBlack85.text-center Zone 5


                                            td.w17
                                                p.text14.colorBlack85.text-center -


                            p.text14.colorBlack85.mb15 Zoning Definitions:
                            .baggageInfo__table
                                table.table.table-blue
                                    thead
                                        tr
                                            th.w20
                                                p.text16.colorWhite.text-center Zone
                                            th.w80
                                                p.text16.colorWhite.text-center Origin/Destination
                                    tbody
                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 1
                                            td.w80
                                                p.text14.colorBlack85 Bangladesh, Cambodia, China(Kunming), Laos, Malaysia, Myanmar, Singapore, Thailand and TG Domestic Sectors in Thailand, Vietnam, Between Hong Kong and Taipei, Between Taipei and Seoul, Between Karachi and Muscat, Between Phuket and Singapore, Between Phuket and Kuala Lumpur



                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 2
                                            td.w80
                                                p.text14.colorBlack85 Brunei Darussalam, China(Beijing, Shanghai, Chengdu, Guangzhou, Xiamen, Chongqing, Changsha), Hong Kong - China, India, Indonesia, Macau, Nepal, Philippines, Sri Lanka, Taiwan - China, Between Hong Kong and Seoul, Between Phuket and Hong Kong, Between Phuket and Beijing



                            p.text14.colorBlack85.medium.mb15 Important note:
                            p.text14.colorBlack85.mb15 • Child and infant discounted rates are not applicable.
                            p.text14.colorBlack85.mb15 • Excess Baggage Charge rate to/from Zone 6 : USA/Canada is based on Piece Concept.
                            p.text14.colorBlack85.mb15 • If baggage is through check from TG Domestic connecting to TG International sectors, the Excess Baggage through check portion of travel is applied by zoning basis.
                            p.text14.colorBlack85.mb15 • Domestic excess baggage charges are displayed in THB and international rates are displayed in USD (USD). Excess baggage Charges published in USD only will be converted to the Local Currency by using the Banker's Selling Rate on the date of baggage charged.
                            p.text14.colorBlack85.mb15 • The Excess Baggage Charge per kilogram for any additional THAI Domestic services is
                            p.text14.colorBlack85.mb15 1.5 percent of the highest normal direct one way economy class fare.
                            p.text14.colorBlack85.mb15 • If baggage is through check from TG Domestic connecting to TG International sectors, the Excess Baggage through check portion of travel is applied by zoning basis.
                            p.text14.colorBlack85.mb15 • Rates are applied if for point to point flights
                            p.text14.colorBlack85.mb15 • Rates are only for reference and can change at any time without prior notice. Passenger book the ticket in our website please email us via 24/7 supporting email: reservations@flythaiairways.com
                            h4.mb15.color1 Special baggage
                            p.text14.colorBlack85.mb15 Excess charge rate varies upon each zone as per the table below:
                            .baggageInfo__table
                                table.table.table-blue
                                    thead
                                        tr
                                            th
                                                p.text16.colorWhite.text-center No
                                            th
                                                p.text16.colorWhite.text-center Special baggages
                                            th
                                                p.text16.colorWhite.text-center Regulations
                                            th
                                                p.text16.colorWhite.text-center Regulations
                                    tbody
                                        tr
                                            td
                                                p.text14.colorBlack85.text-center 1
                                            td
                                                p.text14.colorBlack85 Bicycle
                                            td
                                                p.text14.colorBlack85 Allow one bike per passenger to be included in the allowance.
                                                p.text14.colorBlack85 2nd one or more to be charged as normal excess baggage charge
                                            td
                                                p.text14.colorBlack85 The bicycle must be non- motorized and a single- seat to be considered in this table.
                                        tr
                                            td
                                                p.text14.colorBlack85.text-center 2
                                            td
                                                p.text14.colorBlack85 Bowling
                                            td
                                                p.text14.colorBlack85 Bowling is included in the allowance
                                            td
                                                p.text14.colorBlack85 &nbsp;
                                        tr
                                            td
                                                p.text14.colorBlack85.text-center 3
                                            td
                                                p.text14.colorBlack85 Fishing Equipment
                                            td
                                                p.text14.colorBlack85 Fishing Equipment is included in the allowance.
                                            td
                                                p.text14.colorBlack85 &nbsp;
                                        tr
                                            td
                                                p.text14.colorBlack85.text-center 4
                                            td
                                                p.text14.colorBlack85 Golfing
                                            td
                                                p.text14.colorBlack85 Allow one bike per passenger to be included in the allowance.
                                                p.text14.colorBlack85 2nd one or more to be charged as normal excess baggage charge
                                            td
                                                p.text14.colorBlack85 &nbsp;
                                        tr
                                            td
                                                p.text14.colorBlack85.text-center 5
                                            td
                                                p.text14.colorBlack85 Snow/Water Skiing
                                            td
                                                p.text14.colorBlack85 Snow/Water Skiing is included in the allowance
                                            td
                                                p.text14.colorBlack85 &nbsp;
                                        tr
                                            td
                                                p.text14.colorBlack85.text-center 6
                                            td
                                                p.text14.colorBlack85 Surfboard/Windsurf
                                            td
                                                p.text14.colorBlack85 Surfboard/Windsurf is not included in the allowance excepting departing traveling to / from Australia / New Zealand.
                                                p.text14.colorBlack85 Only one surfboard is able to include in the baggage allowance for traveling to / from Australia / New Zealand.
                                            td
                                                p.text14.colorBlack85 &nbsp;
                                        tr
                                            td
                                                p.text14.colorBlack85.text-center 7
                                            td
                                                p.text14.colorBlack85 Scuba Diving
                                            td
                                                p.text14.colorBlack85 Scuba Diving is included in the allowance
                                            td
                                                p.text14.colorBlack85 &nbsp;
                                        tr
                                            td
                                                p.text14.colorBlack85.text-center 8
                                            td
                                                p.text14.colorBlack85 AVIH (Dog or Cat carried as checked baggage with charges)
                                            td
                                                p.text14.colorBlack85 Only Dog or Cat to be accepted to some destinations due to regulations of each countries. Not applicable for Aircraft A320 due to the compartment is not designed (from the manufacturer) to accommodate live animal. Not applicable for Aircraft A320 types.
                                            td
                                                p.text14.colorBlack85 &nbsp;
                                        tr
                                            td
                                                p.text14.colorBlack85.text-center 9
                                            td
                                                p.text14.colorBlack85 Sporting Firearms
                                            td
                                                p.text14.colorBlack85 Sporting Firearms is included in the allowance
                                            td
                                                p.text14.colorBlack85 Sporting Firearms shall be considered in this table only for sporting purposes.
                            h4.mb15.color1 Dangerous goods
                            p.text14.colorBlack85.mb15 You must not include in your Baggages:
                            .baggageInfo__table
                                table.table.table-blue
                                    thead
                                        tr
                                            th.w20
                                                p.text16.colorWhite.text-center No
                                            th.w80
                                                p.text16.colorWhite.text-center Content
                                    tbody
                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 1
                                            td.w80
                                                p.text14.colorBlack85 Baggage with installed lithium batteries (Smart baggage) non-removable batteries exceeding 0.3 g lithium metal or 2.7 Wh or unidentified lithium contents/power rating lithium batteries installed in baggage.
                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 2
                                            td.w80
                                                p.text14.colorBlack85 Chemical powder/solution for personal use or commercial use, except specified in the list of allowable items.



                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 3
                                            td.w80
                                                p.text14.colorBlack85 Damaged or recalled batteries, including when in a device



                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 4
                                            td.w80
                                                p.text14.colorBlack85 Disabling devices such as mace, pepper spray, etc. containing an irritant or incapacitating substance are forbidden on the person, in checked and carry-on baggage.



                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 5
                                            td.w80
                                                p.text14.colorBlack85 Electro shock weapons (e.g. Tasers) containing dangerous goods such as explosives, compressed gases, lithium batteries, etc. are forbidden in carry-on baggage or checked baggage or on the person.



                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 6
                                            td.w80
                                                p.text14.colorBlack85 Fireworks, Sparklers



                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 7
                                            td.w80
                                                p.text14.colorBlack85 Oxygen or air, gaseous, cylinders and liquid oxygen system required for medical use. Note:
                                                p.text14.colorBlack85 The empty scuba diving tanks is not subject to this restriction.
                                                p.text14.colorBlack85 Should a passenger require supplementary oxygen, please contact reservation office or THAI Contact Center



                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 8
                                            td.w80
                                                p.text14.colorBlack85 Security-type attaché cases, cash boxes, cash bags, etc. incorporating dangerous goods, such as lithium batteries and/or pyrotechnic material, except as provided in table below are totally forbidden.



                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 9
                                            td.w80
                                                p.text14.colorBlack85 Self-balancing personal transportation devices, small vehicle, e-skate, e-skateboard or other similar devices powered by lithium batteries and its accessories.



                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 10
                                            td.w80
                                                p.text14.colorBlack85 “Strike anywhere” matches, “Blue flame” or “Cigar” lighters or lighters powered by a lithium battery without a safety cap or means of protection against unintentional activation.



                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 11
                                            td.w80
                                                p.text14.colorBlack85 Self Heating Meals, food and beverages containing a flame less ration heater or meals ready to eat (MRE)



                                        tr
                                            td.w20
                                                p.text14.colorBlack85.text-center 12
                                            td.w80
                                                p.text14.colorBlack85 A Undetermined type and/or watt-hour rating batteries.



                            p.text14.colorBlack85.mb15 For passenger safety, we do not allow these dangerous goods in checked baggage, carry-on baggage and on one’s person on all THAI flights except for some special cases.
                            p.text14.colorBlack85.mb15 Passenger should contact to us via 24/7 supporting email: reservations@flythaiairways.com for more specific advice.
        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')

        script.
            $('.camNavbar__toggle').click(function () {
                $('.camNavbar__main').addClass('open');
            });

            $('.camNavbar__close, .camNavbar__backdrop').click(function () {
                $('.camNavbar__main').removeClass('open');
            });
            if (screen.width < 768) {
                $('.camNavbar__link').click(function () {
                    $(this).next('.subMenu__child').slideToggle(200);
                    $(this).parent('li').toggleClass('active');
                });
            };
            if (screen.width < 768) {
                $('.footer').css('background-image', 'url("images/footer-bg-mobile.jpg")')
            };





