- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.flightReview
                .flightHeader
                    .container
                        .flightHeader__left
                            .flightStep
                                .flightStep__item
                                    .flightStep__numb 1
                                    .flightStep__text Select Flight
                                .flightStep__item
                                    .flightStep__numb 2
                                    .flightStep__text Passenger
                                .flightStep__item.active
                                    .flightStep__numb 3
                                    .flightStep__text Review
                                .flightStep__item
                                    .flightStep__numb 4
                                    .flightStep__text Payment
                            .flightStepMobile 03. Review
                .flightReview__main
                    .container
                        .orderCode
                            .orderCode__label.confirm
                                span Order code:&nbsp;
                                span.medium G-46f76a
                            .orderCode__label.pending
                                span Order code:&nbsp;
                                span.medium G-46f76a
                            .orderCode__label.cancel
                                span Order code:&nbsp;
                                span.medium G-46f76a
                            .orderCode__text The order number is for your reference only, NOT for check-in and boarding!
                        .reservation
                            .reservation__header
                                .d-flex
                                    .reservation__icon
                                        svg.svg1point5(width='72', height='72', viewBox='0 0 72 72', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            circle(opacity='0.4', cx='36', cy='36', r='36', fill='#6AAEF3')
                                            path(d='M23.1123 31.8296H13.4323C13.1539 31.8296 12.887 31.719 12.6902 31.5221C12.4934 31.3253 12.3828 31.0583 12.3828 30.7799C12.3828 30.5015 12.4934 30.2345 12.6902 30.0376C12.887 29.8408 13.1539 29.7302 13.4323 29.7302H23.12C23.3983 29.7302 23.6653 29.8408 23.8621 30.0376C24.0589 30.2345 24.1695 30.5015 24.1695 30.7799C24.1695 31.0583 24.0589 31.3253 23.8621 31.5221C23.6653 31.719 23.3983 31.8296 23.12 31.8296H23.1123Z', fill='#021B67')
                                            path(d='M15.7697 27.6322H6.08959C5.9485 27.6376 5.80777 27.6145 5.67583 27.5642C5.54388 27.5139 5.42344 27.4375 5.32171 27.3396C5.21998 27.2416 5.13905 27.1242 5.08377 26.9942C5.02849 26.8643 5 26.7245 5 26.5833C5 26.442 5.02849 26.3023 5.08377 26.1723C5.13905 26.0423 5.21998 25.9249 5.32171 25.827C5.42344 25.729 5.54388 25.6526 5.67583 25.6023C5.80777 25.5521 5.9485 25.5289 6.08959 25.5343H15.7697C15.9108 25.5289 16.0515 25.5521 16.1834 25.6023C16.3154 25.6526 16.4358 25.729 16.5376 25.827C16.6393 25.9249 16.7202 26.0423 16.7755 26.1723C16.8308 26.3023 16.8593 26.442 16.8593 26.5833C16.8593 26.7245 16.8308 26.8643 16.7755 26.9942C16.7202 27.1242 16.6393 27.2416 16.5376 27.3396C16.4358 27.4375 16.3154 27.5139 16.1834 27.5642C16.0515 27.6145 15.9108 27.6376 15.7697 27.6322Z', fill='#021B67')
                                            path(d='M38.9821 17.2423L30.9492 7.04816L35.7124 7.07428C39.1208 7.0944 42.4211 8.27316 45.0714 10.417L52.5803 17.2423H38.9821Z', fill='#0E61D7')
                                            path(d='M52.583 18.292H38.9848C38.8262 18.292 38.6698 18.256 38.5271 18.1868C38.3845 18.1176 38.2594 18.0169 38.1612 17.8924L30.1283 7.69826C30.0061 7.54368 29.9299 7.35778 29.9085 7.16187C29.8872 6.96597 29.9214 6.76801 30.0074 6.59071C30.0934 6.4134 30.2276 6.26393 30.3947 6.15945C30.5617 6.05497 30.7548 5.9997 30.9518 6L35.715 6.02613C39.3612 6.0509 42.8913 7.31166 45.7285 9.60247L53.2836 16.4662C53.4398 16.6085 53.5494 16.7946 53.5982 17.0001C53.6469 17.2057 53.6325 17.4213 53.5568 17.6185C53.4811 17.8158 53.3477 17.9856 53.1739 18.1058C53.0002 18.2259 52.7942 18.2908 52.583 18.292ZM39.4933 16.2019H49.871L44.3703 11.2008C41.9123 9.22967 38.8608 8.14656 35.7104 8.12705L33.1229 8.11322L39.4933 16.2019Z', fill='#021B67')
                                            path(d='M57.5763 16.2188C59.269 16.1423 60.9498 16.5358 62.4327 17.3558C63.9155 18.1759 65.1426 19.3903 65.978 20.8648C66.1508 21.1694 66.2522 21.5092 66.2747 21.8587C66.2971 22.2082 66.24 22.5582 66.1076 22.8824C65.9752 23.2066 65.771 23.4965 65.5103 23.7303C65.2497 23.9641 64.9394 24.1357 64.6028 24.2321C57.1707 26.31 33.1917 28.7352 18.8222 23.3023L15.4219 13.5354H16.9584C18.3186 13.5514 19.6468 13.9503 20.7908 14.6863C21.9349 15.4224 22.8485 16.4659 23.4271 17.6973L57.5763 16.2188Z', fill='#0E61D7')
                                            path(d='M41.7441 27.661C33.6743 27.661 25.1158 26.8018 18.452 24.2798C18.3093 24.2251 18.1803 24.1397 18.0741 24.0298C17.968 23.9199 17.8871 23.788 17.8374 23.6435L14.4324 13.8797C14.3779 13.7215 14.3619 13.5527 14.3857 13.3871C14.4096 13.2215 14.4726 13.064 14.5695 12.9277C14.6664 12.7914 14.7945 12.6802 14.943 12.6033C15.0915 12.5264 15.2562 12.4861 15.4235 12.4857L16.96 12.4934C18.3987 12.5025 19.8097 12.8892 21.0522 13.6146C22.2947 14.3401 23.325 15.3791 24.0403 16.6276L57.5364 15.1707C61.3608 15.017 65.0423 17.0395 66.8984 20.353C67.1504 20.7997 67.2969 21.2981 67.3267 21.81C67.3566 22.322 67.2689 22.8341 67.0705 23.3069C66.8785 23.7747 66.5821 24.1924 66.2039 24.5281C65.8258 24.8637 65.3759 25.1084 64.8887 25.2434C60.9198 26.3531 51.7069 27.661 41.7471 27.661H41.7441ZM19.6504 22.4893C33.9401 27.6471 57.624 25.0928 64.3202 23.2224C64.5015 23.1724 64.669 23.0814 64.8096 22.9564C64.9503 22.8314 65.0604 22.6759 65.1314 22.5016C65.2065 22.3219 65.2395 22.1274 65.2281 21.933C65.2166 21.7386 65.161 21.5494 65.0654 21.3797C64.3225 20.0765 63.235 19.0032 61.9223 18.2777C60.6096 17.5522 59.1224 17.2025 57.624 17.267L23.4702 18.7531C23.2651 18.7624 23.0618 18.7109 22.8857 18.6051C22.7097 18.4993 22.5688 18.3439 22.4807 18.1584C21.9898 17.102 21.2096 16.2064 20.2306 15.5753C19.2516 14.9443 18.1139 14.6036 16.9492 14.5928H16.9016L19.6504 22.4893Z', fill='#021B67')
                                            path(d='M50.8329 22.1957L37.0811 33.6579C36.3788 34.2431 35.4936 34.5634 34.5796 34.5631H29.8164L38.467 22.1957', fill='#0E61D7')
                                            path(fill-rule='evenodd', clip-rule='evenodd', d='M28.9223 36.327H34.6773C36.0772 36.3262 37.4328 35.8362 38.509 34.942L39.6409 34H57.3961C59.6052 34 61.3961 35.7909 61.3961 38V54.8216C61.3961 57.0308 59.6052 58.8216 57.3961 58.8216H13.4258C11.2166 58.8216 9.42578 57.0308 9.42578 54.8216V51.4527L9.43252 51.4528C12.2171 51.4528 14.4744 49.1954 14.4744 46.4109C14.4744 43.6263 12.2171 41.369 9.43252 41.369L9.42578 41.369V38C9.42578 35.7909 11.2166 34 13.4258 34H28.1199L27.8846 34.3358C27.752 34.5255 27.6739 34.7478 27.6589 34.9787C27.6439 35.2095 27.6925 35.4401 27.7995 35.6453C27.9064 35.8505 28.0676 36.0226 28.2656 36.1428C28.4635 36.2629 28.6907 36.3266 28.9223 36.327Z', fill='#021B67')
                                            path(d='M34.5767 35.6066H29.8135C29.6218 35.6063 29.4338 35.5535 29.27 35.4539C29.1061 35.3543 28.9727 35.2117 28.8842 35.0416C28.7956 34.8714 28.7554 34.6803 28.7678 34.4889C28.7802 34.2976 28.8448 34.1133 28.9546 33.956L37.6098 21.5887C37.7733 21.3712 38.0148 21.2258 38.2834 21.183C38.552 21.1402 38.8267 21.2034 39.0497 21.3592C39.2726 21.515 39.4264 21.7514 39.4785 22.0184C39.5307 22.2854 39.4771 22.5622 39.3292 22.7905L31.8218 33.5088H34.5752C35.2439 33.5077 35.8913 33.2728 36.4052 32.8448L50.1555 21.3827C50.2614 21.2944 50.3837 21.2279 50.5154 21.1868C50.647 21.1458 50.7855 21.1311 50.9228 21.1436C51.0601 21.1561 51.1937 21.1955 51.3158 21.2596C51.4379 21.3237 51.5461 21.4112 51.6344 21.5172C51.7227 21.6232 51.7892 21.7455 51.8303 21.8772C51.8713 22.0088 51.886 22.1473 51.8735 22.2847C51.861 22.422 51.8216 22.5556 51.7575 22.6777C51.6934 22.7998 51.6059 22.9082 51.5 22.9965L37.7481 34.4586C36.8574 35.1998 35.7354 35.606 34.5767 35.6066Z', fill='#021B67')
                                            path(fill-rule='evenodd', clip-rule='evenodd', d='M24.75 34C25.1642 34 25.5 34.3358 25.5 34.75L25.5 35.22C25.5 35.6342 25.1642 35.97 24.75 35.97C24.3358 35.97 24 35.6342 24 35.22L24 34.75C24 34.3358 24.3358 34 24.75 34ZM24.75 38.23C25.1642 38.23 25.5 38.5658 25.5 38.98L25.5 39.92C25.5 40.3342 25.1642 40.67 24.75 40.67C24.3358 40.67 24 40.3342 24 39.92L24 38.98C24 38.5658 24.3358 38.23 24.75 38.23ZM24.75 42.93C25.1642 42.93 25.5 43.2658 25.5 43.68L25.5 44.62C25.5 45.0342 25.1642 45.37 24.75 45.37C24.3358 45.37 24 45.0342 24 44.62L24 43.68C24 43.2658 24.3358 42.93 24.75 42.93ZM24.75 47.63C25.1642 47.63 25.5 47.9658 25.5 48.38L25.5 49.32C25.5 49.7342 25.1642 50.07 24.75 50.07C24.3358 50.07 24 49.7342 24 49.32L24 48.38C24 47.9658 24.3358 47.63 24.75 47.63ZM24.75 52.33C25.1642 52.33 25.5 52.6658 25.5 53.08L25.5 54.02C25.5 54.4342 25.1642 54.77 24.75 54.77C24.3358 54.77 24 54.4342 24 54.02L24 53.08C24 52.6658 24.3358 52.33 24.75 52.33ZM24.75 57.03C25.1642 57.03 25.5 57.3658 25.5 57.78L25.5 58.25C25.5 58.6642 25.1642 59 24.75 59C24.3358 59 24 58.6642 24 58.25L24 57.78C24 57.3658 24.3358 57.03 24.75 57.03Z', fill='white')
                                            path(fill-rule='evenodd', clip-rule='evenodd', d='M34 40.95C34 40.4253 34.4253 40 34.95 40H52.05C52.5747 40 53 40.4253 53 40.95C53 41.4747 52.5747 41.9 52.05 41.9H34.95C34.4253 41.9 34 41.4747 34 40.95Z', fill='white')
                                            path(fill-rule='evenodd', clip-rule='evenodd', d='M34 46.95C34 46.4253 34.4253 46 34.95 46H52.05C52.5747 46 53 46.4253 53 46.95C53 47.4747 52.5747 47.9 52.05 47.9H34.95C34.4253 47.9 34 47.4747 34 46.95Z', fill='white')
                                            path(fill-rule='evenodd', clip-rule='evenodd', d='M34 52.95C34 52.4253 34.4253 52 34.95 52H52.05C52.5747 52 53 52.4253 53 52.95C53 53.4747 52.5747 53.9 52.05 53.9H34.95C34.4253 53.9 34 53.4747 34 52.95Z', fill='white')

                                    .reservation__text
                                        p.text16.medium.color1 Reservation code: JVHNKM
                                        p.text14.colorBlack55.mb-0 E-ticket number can be used for check-in at the airport check-in counter
                                button.btnYourLight(type='button')
                                    span E-tickets for your flight
                            .reservation__body
                                button.reservation__close(type='button')
                                    svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z', fill='black', fill-opacity='0.55')
                                .reservation__list
                                    .reservation__col
                                        ul
                                            li
                                                p 1. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 2. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 3. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 4. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 5. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 6. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 7. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 8. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                    .reservation__col
                                        ul
                                            li
                                                p 1. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 2. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 3. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 4. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 5. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 6. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 7. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                                            li
                                                p 8. Mr. Pham Duc Quang
                                                p E-ticket 1234567890
                        .flightReview__group
                            .formBox
                                h2.color1.mb15 Price
                                .formBox__body
                                    .formBox__item
                                        .formBox__price
                                            .formBox__flex
                                                .formBox__left
                                                    .formBox__price__total
                                                        .d-block
                                                            p.text16.medium.color1 TOTAL
                                                            p.text12.colorBlack55 The price is total price for all travelers (including taxes, fees & charges)
                                                        .d-block
                                                            p.text24.color2.medium USD 666.88
                                                    .formBox__price__cost
                                                        .d-flex.mb5
                                                            p.text14.colorBlack85 Fares
                                                            p.text14.colorBlack85 USD 664.66

                                                        .d-flex.mb5
                                                            p.text14.colorBlack85 Taxes, Fees and Charges
                                                            p.text14.colorBlack85 USD 2.22
                                                        .airlineInfo
                                                            .airlineInfo__logo
                                                                img(src='images/logo-vnairline.png')
                                                                span VN 233
                                                            .airlineInfo__name
                                                                span Airbus A321
                                                .formBox__right
                                                    .formBox__price__detail
                                                        .d-flex
                                                            p.text16.medium.color1 PRICE DETAILS
                                                            p.text16.medium.color2 USD 666.88
                                                        .d-flex
                                                            button.btnDetail.text14(type='button')
                                                                i.fas.fa-caret-down
                                                                span.ml5 1 Adult
                                                            p.text14 USD 666.88
                                                        ul.formBox__sub.costBox
                                                            li
                                                                p.text12.medium.colorBlack85 Air Transportation Charges
                                                            li
                                                                p.text12.colorBlack85 Base Fare
                                                                p.text12.colorBlack85 USD 166.00


                                                            li
                                                                p.text12.colorBlack85 Service Charges
                                                                p.text12.colorBlack85 USD 166.00


                                                            li
                                                                p.text12.colorBlack85.medium Taxes & Fees
                                                                p.text12.colorBlack85.medium USD 66.88


                                                            li
                                                                p.text12.colorBlack85.medium Total per Adult
                                                                p.text12.colorBlack85.medium USD 66.88


                                                            li
                                                                p.text12.colorBlack85.medium x 1 Adult
                                                                p.text12.colorBlack85.medium USD 66.88


                            .formBox
                                h2.color1.mb15 Itinerary
                                .formBox__body
                                    .formBox__item
                                        .formBox__itinerary
                                            .formBox__itinerary__item
                                                .formBox__itinerary__header
                                                    p.text20.medium.color1.mb5 Departing flight
                                                    .lineInfo
                                                        .lineInfo__trip
                                                            p.text16.color1.medium Hanoi (HAN), Vietnam
                                                            svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')

                                                            p.text16.color1.medium Phuket (HKT), Thailand
                                                        .lineInfo__date
                                                            p.text14.colorBlack65 Wednesday, 15 January 2020
                                                .formBox__flex
                                                    .formBox__left
                                                        .yourSelection__group
                                                            .d-block
                                                                p.text18.medium.color1 15:35 HAN
                                                                p.text12.color1.medium Hanoi, Vietnam
                                                            .d-block
                                                                .text-center
                                                                    .yourSelection__time 2h05m
                                                                    p.text12.medium.mt5
                                                                        span.colorGreen None Stop
                                                            .d-block
                                                                p.text18.medium.color1 17: 40 BKK
                                                                p.text12.color1.medium Bangkok, Thailand
                                                        .airlineInfo
                                                            .airlineInfo__logo
                                                                img(src='images/logo-vnairline.png')
                                                                span VN 233
                                                            .airlineInfo__name
                                                                span Airbus A321
                                                    .formBox__right
                                                        ul.formBox__sub
                                                            li
                                                                p.text14.colorBlack85.medium Duration
                                                                p.text14.colorBlack85 02h05m
                                                            li
                                                                p.text14.colorBlack85.medium Airline
                                                                p.text14.colorBlack85 Cambodia Air
                                                            li
                                                                p.text14.colorBlack85.medium Aircralt
                                                                p.text14.colorBlack85 K6 - 3835 - 321
                                                            li
                                                                p.text14.colorBlack85.medium Cabin
                                                                p.text14.color2 Economy
                                                            li
                                                                p.text14.colorBlack85.medium Class
                                                                p.text14.colorBlack85 W
                                                        .d-flex.mt15
                                                            p.text14.colorBlack85.mr15 Total Duration
                                                            p.text14.medium
                                                                span.colorRed 02h05m,
                                                                span.colorGreen &nbsp;Non-Stop
                                            .formBox__itinerary__item
                                                .formBox__itinerary__header
                                                    p.text20.medium.color1.mb5 Return flight
                                                    .lineInfo
                                                        .lineInfo__trip
                                                            p.text16.color1.medium Hanoi (HAN), Vietnam
                                                            svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')

                                                            p.text16.color1.medium Phuket (HKT), Thailand
                                                        .lineInfo__date
                                                            p.text14.colorBlack65 Wednesday, 15 January 2020
                                                .formBox__flex
                                                    .formBox__left
                                                        .yourSelection__group
                                                            .d-block
                                                                p.text18.medium.color1 15:35 HAN
                                                                p.text12.color1.medium Hanoi, Vietnam
                                                            .d-block
                                                                .text-center
                                                                    .yourSelection__time 2h05m
                                                                    p.text12.medium.mt5
                                                                        span.colorGreen None Stop
                                                            .d-block
                                                                p.text18.medium.color1 17: 40 BKK
                                                                p.text12.color1.medium Bangkok, Thailand
                                                        .airlineInfo
                                                            .airlineInfo__logo
                                                                img(src='images/logo-vnairline.png')
                                                                span VN 233
                                                            .airlineInfo__name
                                                                span Airbus A321
                                                    .formBox__right
                                                        ul.formBox__sub
                                                            li
                                                                p.text14.colorBlack85.medium Duration
                                                                p.text14.colorBlack85 02h05m
                                                            li
                                                                p.text14.colorBlack85.medium Airline
                                                                p.text14.colorBlack85 Cambodia Air
                                                            li
                                                                p.text14.colorBlack85.medium Aircralt
                                                                p.text14.colorBlack85 K6 - 3835 - 321
                                                            li
                                                                p.text14.colorBlack85.medium Cabin
                                                                p.text14.color2 Economy
                                                            li
                                                                p.text14.colorBlack85.medium Class
                                                                p.text14.colorBlack85 W
                                                        .d-flex.mt15
                                                            p.text14.colorBlack85.mr15 Total Duration
                                                            p.text14.medium
                                                                span.colorRed 02h05m,
                                                                span.colorGreen &nbsp;Non-Stop
                            .formBox
                                h2.color1.mb15 Passenger details (2 traveler/s)
                                .formBox__body
                                    .formBox__item
                                        .formBox__traveler
                                            .formBox__traveler__item
                                                .formBox__flex
                                                    .formBox__left
                                                        .d-flex
                                                            svg.svg1(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z', fill='black', fill-opacity='0.85')
                                                            p.ml10.text16.colorBlack85.medium Adult 1
                                                    .formBox__right
                                                        ul.formBox__sub
                                                            li
                                                                p.text14.colorBlack85.medium Full Name
                                                                p.text14.colorBlack85 Mr. Pham Duc Quang




                                                            li
                                                                p.text14.colorBlack85.medium Date of Birth
                                                                p.text14.colorBlack85 26 Apr 1991




                                                            li
                                                                p.text14.colorBlack85.medium Passport
                                                                p.text14.colorBlack85 B1234567




                                                            li
                                                                p.text14.colorBlack85.medium Nationality
                                                                p.text14.colorBlack85 Vietnamese




                                                            li
                                                                p.text14.colorBlack85.medium Date of Issued
                                                                p.text14.colorBlack85 12 May 2018




                                                            li
                                                                p.text14.colorBlack85.medium Date of Expired
                                                                p.text14.colorBlack85 12 May 2028




                                            .formBox__traveler__item
                                                .formBox__flex
                                                    .formBox__left
                                                        .d-flex
                                                            svg.svg1(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M8 0C9.06087 0 10.0783 0.421427 10.8284 1.17157C11.5786 1.92172 12 2.93913 12 4C12 5.06087 11.5786 6.07828 10.8284 6.82843C10.0783 7.57857 9.06087 8 8 8C6.93913 8 5.92172 7.57857 5.17157 6.82843C4.42143 6.07828 4 5.06087 4 4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0ZM8 10C12.42 10 16 11.79 16 14V16H0V14C0 11.79 3.58 10 8 10Z', fill='black', fill-opacity='0.85')
                                                            p.ml10.text16.colorBlack85.medium Adult 2
                                                    .formBox__right
                                                        ul.formBox__sub
                                                            li
                                                                p.text14.colorBlack85.medium Full Name
                                                                p.text14.colorBlack85 Mr. Pham Duc Quang
                                                            li
                                                                p.text14.colorBlack85.medium Date of Birth
                                                                p.text14.colorBlack85 26 Apr 1991
                                                            li
                                                                p.text14.colorBlack85.medium Passport
                                                                p.text14.colorBlack85 B1234567
                                                            li
                                                                p.text14.colorBlack85.medium Nationality
                                                                p.text14.colorBlack85 Vietnamese
                                                            li
                                                                p.text14.colorBlack85.medium Date of Issued
                                                                p.text14.colorBlack85 12 May 2018
                                                            li
                                                                p.text14.colorBlack85.medium Date of Expired
                                                                p.text14.colorBlack85 12 May 2028
                            .formBox
                                h2.color1.mb15 Contact details
                                .formBox__body
                                    .formBox__item
                                        .formBox__contact
                                            .formBox__flex
                                                .formBox__left
                                                    .formBox__contact__line
                                                        .d-block
                                                            .d-flex
                                                                svg.svg1(width='18', height='18', viewBox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M3.62 7.79C5.06 10.62 7.38 12.94 10.21 14.38L12.41 12.18C12.69 11.9 13.08 11.82 13.43 11.93C14.55 12.3 15.75 12.5 17 12.5C17.2652 12.5 17.5196 12.6054 17.7071 12.7929C17.8946 12.9804 18 13.2348 18 13.5V17C18 17.2652 17.8946 17.5196 17.7071 17.7071C17.5196 17.8946 17.2652 18 17 18C12.4913 18 8.1673 16.2089 4.97918 13.0208C1.79107 9.8327 0 5.50868 0 1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0H4.5C4.76522 0 5.01957 0.105357 5.20711 0.292893C5.39464 0.48043 5.5 0.734784 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z', fill='black', fill-opacity='0.85')
                                                                p.ml10.text16.colorBlack85.medium Phone
                                                        .d-block
                                                            p.text14.colorBlack85 (+ 84) 363 888 888
                                                .formBox__right
                                                    .formBox__contact__line
                                                        .d-block
                                                            .d-flex
                                                                svg.svg1(width='20', height='16', viewBox='0 0 20 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M18 4L10 9L2 4V2L10 7L18 2V4ZM18 0H2C0.89 0 0 0.89 0 2V14C0 14.5304 0.210714 15.0391 0.585786 15.4142C0.960859 15.7893 1.46957 16 2 16H18C18.5304 16 19.0391 15.7893 19.4142 15.4142C19.7893 15.0391 20 14.5304 20 14V2C20 0.89 19.1 0 18 0Z', fill='black', fill-opacity='0.85')

                                                                p.ml10.text16.colorBlack85.medium Email
                                                        .d-block
                                                            p.text14.colorBlack85 phuongbui@gmail.com
                            .formBox
                                h2.color1.mb15 Baggage
                                .formBox__body
                                    .formBox__item
                                        .formBox__baggage
                                            .formBox__baggage__item
                                                .formBox__flex
                                                    .formBox__left
                                                        .d-block
                                                            p.text16.colorBlack85.medium.mb5 Traveler 1 (Adult)
                                                            .lineInfo__trip
                                                                p.text16.color1.medium Hanoi (HAN), Vietnam
                                                                svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                                                p.text16.color1.medium Phuket (HKT), Thailand

                                                    .formBox__right
                                                        .d-block
                                                            p.text14.colorBlack85.medium.mb5
                                                                span CARRY-ON BAGGAGE:&nbsp;
                                                                span INCLUDED
                                                            p.text14.colorBlack85.mb5 Carry10kg 22lbupto 45li 115lcm

                                                        .d-block
                                                            p.text14.colorBlack85.medium.mb5
                                                                span CHECKED BAGGAGE:&nbsp;
                                                                span.colorRed NOT INCLUDED
                                                            p.text14.colorBlack85.mb5 Carry10kg 22lbupto 45li 115lcm
                                            .formBox__baggage__item
                                                .formBox__flex
                                                    .formBox__left
                                                        .d-block
                                                            .lineInfo__trip
                                                                p.text16.color1.medium Hanoi (HAN), Vietnam
                                                                svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                                                p.text16.color1.medium Phuket (HKT), Thailand

                                                    .formBox__right
                                                        .d-block
                                                            p.text14.colorBlack85.medium.mb5
                                                                span CARRY-ON BAGGAGE:&nbsp;
                                                                span INCLUDED
                                                            p.text14.colorBlack85.mb5 Carry10kg 22lbupto 45li 115lcm

                                                        .d-block
                                                            p.text14.colorBlack85.medium.mb5
                                                                span CHECKED BAGGAGE:&nbsp;
                                                                span INCLUDED
                                                            p.text14.colorBlack85.mb5 Carry10kg 22lbupto 45li 115lcm
                                            .formBox__baggage__text
                                                p.text12.medium.colorBlack85 Baggage allowance and charges are applied for the whole trip.
                                                p.text12.colorBlack55 Baggage allowance and fees are provided for information only.
                                                p.text12.colorBlack55 Additional allowance may apply depending on the traveler's individual passenger status (e.g. Saga Club membership)

                            .formBox
                                h2.color1.mb15 Payment option
                                .formBox__body
                                    .formBox__item
                                        .formBox__payment
                                            .formBox__payment__item
                                                .radio
                                                    input#fl11(type='radio', name='fl' checked='')
                                                    label(for='fl11') Pay by Credit/Debit Cards
                                                ul.formBox__payment__card
                                                    li
                                                        img(src='images/jcb.png')
                                                    li
                                                        img(src='images/visa.png')
                                                    li
                                                        img(src='images/mastercard.png')
                                                    li
                                                        img(src='images/card-dinner.png')
                                            .formBox__payment__item
                                                .radio
                                                    input#fl22(type='radio', name='fl')
                                                    label(for='fl22') Pay later
                            .formBox
                                h2.color1.mb15 Term of Use
                                .formBox__body
                                    .formBox__item
                                        .formBox__term
                                            p.title Term of Use
                                            p Conditions of website use
                                            p By accessing and using our website for any purpose of searching, referencing or booking, you acknowledge that you’re fully understanding and accepting, as well as agreeing not to violate our Terms and Conditions.
                                            p We recommend you to read the following terms and conditions carefully before purchasing our products. If you object to any of it please leave this website immediately.
                                            p Please also be noted that Cambodia reserves the rights to cancel or terminate any booking if it’s in such case:
                                            ul
                                                li (i) required by law.
                                                li (ii) payment is not made in time.
                                                li (iii) ticket availability issues.
                                                li (iv) system errors or any technical problems that may cause us in processing customer’s request.


                                            p Conditions of website use
                                            p By accessing and using our website for any purpose of searching, referencing or booking, you acknowledge that you’re fully understanding and accepting, as well as agreeing not to violate our Terms and Conditions.
                                            p We recommend you to read the following terms and conditions carefully before purchasing our products. If you object to any of it please leave this website immediately.
                                            p Please also be noted that Cambodia reserves the rights to cancel or terminate any booking if it’s in such case:
                                            ul
                                                li (i) required by law.
                                                li (ii) payment is not made in time.
                                                li (iii) ticket availability issues.
                                                li (iv) system errors or any technical problems that may cause us in processing customer’s request.


                        .flightReview__checkbox
                            .checkbox
                                input#pp13(type='checkbox')
                                label(for='pp13')
                                    | I have read and agree to all the&nbsp;
                                    a.aLink(href='termsOfUse.html') Term of Use
                                    | &nbsp;specified.
                        .flightReview__btn
                            a.btn.btn-orange-1(href='flightPayment.html') Continue
        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')


        script.
            $('.camNavbar__toggle').click(function () {
                $('.camNavbar__main').addClass('open');
            });

            $('.camNavbar__close, .camNavbar__backdrop').click(function () {
                $('.camNavbar__main').removeClass('open');
            });
            if (screen.width < 768) {
                $('.camNavbar__link').click(function () {
                    $(this).next('.subMenu__child').slideToggle(200);
                    $(this).parent('li').toggleClass('active');
                });
            };
            if (screen.width < 768) {
                $('.footer').css('background-image', 'url("images/footer-bg-mobile.jpg")')
            };

        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart date',
                titleCheckOut: 'Return date',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });
        script.
            $('.btnDetail').click(function () {
                $(this).toggleClass('rotate');
                $(this).parents('.formBox__price__detail').find('.costBox').slideToggle(200);
            });
        script.
            $('.btnYourLight').click(function () {
                $('.reservation__body').addClass('open');
                $('body').addClass('noScroll');
            });
            $('.reservation__close').click(function () {
                $('.reservation__body').removeClass('open');
                $('body').removeClass('noScroll');
            });







