- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.flightPayment
                .flightHeader
                    .container
                        .flightHeader__left
                            .flightStep
                                .flightStep__item.step1
                                    .flightStep__numb 1
                                    .flightStep__text Select Flight
                                .flightStep__item.step2
                                    .flightStep__numb 2
                                    .flightStep__text Passenger
                                .flightStep__item.step3
                                    .flightStep__numb 3
                                    .flightStep__text Review
                                .flightStep__item.step4.active
                                    .flightStep__numb 4
                                    .flightStep__text Payment
                            .flightStepMobile 04. Payment


                .flightPayment__body
                    .container
                        .flightPayment__box
                            .flightPayment__icon
                                svg.svg1point5(width='174', height='142', viewBox='0 0 174 142', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M91.2543 137.056C128.044 137.056 157.868 107.225 157.868 70.4265C157.868 33.628 128.044 3.79688 91.2543 3.79688C54.4646 3.79688 24.6406 33.628 24.6406 70.4265C24.6406 107.225 54.4646 137.056 91.2543 137.056Z', fill='#FFC9BA')
                                    path(d='M50.9193 94.4995H24.1907C23.4222 94.4995 22.6851 94.1941 22.1417 93.6505C21.5983 93.107 21.293 92.3698 21.293 91.6011C21.293 90.8323 21.5983 90.0951 22.1417 89.5516C22.6851 89.008 23.4222 88.7026 24.1907 88.7026H50.9405C51.709 88.7026 52.4461 89.008 52.9895 89.5516C53.5329 90.0951 53.8382 90.8323 53.8382 91.6011C53.8382 92.3698 53.5329 93.107 52.9895 93.6505C52.4461 94.1941 51.709 94.4995 50.9405 94.4995H50.9193Z', fill='#B72A4A')
                                    path(d='M30.6435 82.9099H3.91483C3.52525 82.9249 3.13666 82.861 2.77234 82.7222C2.40802 82.5833 2.07545 82.3724 1.79455 82.102C1.51365 81.8316 1.29019 81.5072 1.13756 81.1484C0.984922 80.7896 0.90625 80.4036 0.90625 80.0137C0.90625 79.6237 0.984922 79.2377 1.13756 78.8789C1.29019 78.5201 1.51365 78.1957 1.79455 77.9253C2.07545 77.6549 2.40802 77.444 2.77234 77.3051C3.13666 77.1663 3.52525 77.1024 3.91483 77.1174H30.6435C31.033 77.1024 31.4216 77.1663 31.7859 77.3051C32.1503 77.444 32.4828 77.6549 32.7637 77.9253C33.0446 78.1957 33.2681 78.5201 33.4207 78.8789C33.5734 79.2377 33.652 79.6237 33.652 80.0137C33.652 80.4036 33.5734 80.7896 33.4207 81.1484C33.2681 81.5072 33.0446 81.8316 32.7637 82.102C32.4828 82.3724 32.1503 82.5833 31.7859 82.7222C31.4216 82.861 31.033 82.9249 30.6435 82.9099Z', fill='#B72A4A')
                                    path(d='M157.342 19.4915C156.882 19.4971 156.424 19.5604 155.98 19.68C156.128 18.8603 156.205 18.0287 156.208 17.1952C156.054 13.6429 154.556 10.2883 152.027 7.83013C149.498 5.372 146.132 4 142.632 4C139.132 4 135.766 5.372 133.237 7.83013C130.708 10.2883 129.21 13.6429 129.055 17.1952C129.055 17.34 129.055 17.478 129.079 17.6228C128.348 17.3462 127.575 17.2015 126.795 17.1952C124.993 17.1952 123.264 17.9224 121.99 19.2168C120.716 20.5113 120 22.267 120 24.0976C120 25.9282 120.716 27.6839 121.99 28.9783C123.264 30.2728 124.993 31 126.795 31H157.342C158.843 31 160.282 30.3945 161.343 29.3166C162.404 28.2387 163 26.7768 163 25.2525C163 23.7281 162.404 22.2662 161.343 21.1884C160.282 20.1105 158.843 19.505 157.342 19.505V19.4915Z', fill='#FFE7DC')
                                    path(d='M157.312 33H127.696C125.369 32.9794 123.146 32.0265 121.515 30.3511C119.885 28.6757 118.98 26.415 119 24.0663C119.021 21.7176 119.965 19.4733 121.624 17.8271C123.284 16.1809 125.524 15.2677 127.85 15.2883C128.405 11.4093 130.395 7.88623 133.419 5.42814C136.443 2.97005 140.277 1.75937 144.149 2.03975C148.022 2.32012 151.646 4.07073 154.291 6.93929C156.937 9.80785 158.408 13.5814 158.408 17.5007V17.5688C160.332 17.8461 162.079 18.8491 163.299 20.3757C164.518 21.9023 165.119 23.8389 164.98 25.7951C164.841 27.7512 163.973 29.5814 162.55 30.9167C161.127 32.2519 159.255 32.9929 157.312 32.9903V33ZM127.696 19.7C127.11 19.684 126.526 19.7867 125.98 20.0021C125.434 20.2175 124.936 20.5413 124.516 20.9542C124.095 21.3671 123.761 21.8608 123.533 22.4062C123.305 22.9516 123.188 23.5376 123.188 24.1296C123.188 24.7216 123.305 25.3076 123.533 25.853C123.761 26.3983 124.095 26.8921 124.516 27.305C124.936 27.7179 125.434 28.0416 125.98 28.257C126.526 28.4724 127.11 28.5751 127.696 28.5591H157.312C158.185 28.5591 159.022 28.2091 159.639 27.5862C160.256 26.9632 160.603 26.1183 160.603 25.2374C160.603 24.3564 160.256 23.5115 159.639 22.8885C159.022 22.2656 158.185 21.9156 157.312 21.9156C157.043 21.9209 156.776 21.9591 156.515 22.0291C156.16 22.1184 155.787 22.116 155.432 22.0223C155.078 21.9287 154.752 21.7466 154.485 21.4929C154.218 21.2392 154.018 20.922 153.904 20.5702C153.79 20.2184 153.765 19.8434 153.832 19.4794C154.107 17.9666 154.067 16.4125 153.713 14.9163C153.36 13.4201 152.702 12.0146 151.78 10.7896C150.859 9.56454 149.695 8.54679 148.362 7.80127C147.029 7.05575 145.557 6.59882 144.04 6.45962C142.522 6.32043 140.993 6.50203 139.549 6.99284C138.105 7.48366 136.778 8.2729 135.653 9.31024C134.528 10.3476 133.629 11.6102 133.014 13.0176C132.4 14.4251 132.082 15.9463 132.083 17.4844C132.083 17.5169 132.102 17.8088 132.105 17.8283C132.117 18.189 132.041 18.547 131.884 18.8713C131.727 19.1955 131.494 19.476 131.205 19.6884C130.916 19.9009 130.58 20.0387 130.226 20.0899C129.872 20.1411 129.511 20.1041 129.174 19.9822C128.701 19.8043 128.201 19.7089 127.696 19.7Z', fill='#B72A4A')
                                    path(d='M94.7313 52.2214L72.5508 24.0732L85.703 24.1454C95.1143 24.2009 104.227 27.4557 111.545 33.3753L132.279 52.2214H94.7313Z', fill='#DB3D52')
                                    path(d='M132.278 55.1195H94.7307C94.293 55.1193 93.8609 55.02 93.4671 54.8289C93.0732 54.6378 92.7278 54.3599 92.4566 54.0161L70.2761 25.868C69.9387 25.4411 69.7284 24.9278 69.6694 24.3869C69.6104 23.846 69.705 23.2993 69.9425 22.8098C70.1799 22.3202 70.5505 21.9075 71.0117 21.619C71.473 21.3305 72.0062 21.1779 72.5502 21.1787L85.7024 21.2509C95.7702 21.3192 105.517 24.8005 113.352 31.1258L134.213 50.078C134.644 50.4708 134.947 50.9846 135.081 51.5523C135.216 52.12 135.176 52.7151 134.967 53.2597C134.758 53.8044 134.39 54.2733 133.91 54.6051C133.43 54.9369 132.861 55.1162 132.278 55.1195ZM96.135 49.3481H124.79L109.601 35.5392C102.814 30.0965 94.3885 27.1058 85.6896 27.0519L78.545 27.0137L96.135 49.3481Z', fill='#B72A4A')
                                    path(d='M146.073 49.3953C150.746 49.184 155.387 50.2707 159.482 52.5349C163.576 54.799 166.965 58.1525 169.271 62.2238C169.748 63.0648 170.029 64.0032 170.091 64.9681C170.153 65.9331 169.995 66.8996 169.629 67.7947C169.264 68.6899 168.7 69.4904 167.98 70.136C167.26 70.7815 166.403 71.2553 165.474 71.5217C144.952 77.2591 78.7419 83.9556 39.0647 68.9543L29.6758 41.9858H33.9184C37.6742 42.03 41.3416 43.1314 44.5006 45.1638C47.6595 47.1962 50.1823 50.0775 51.7799 53.4777L146.073 49.3953Z', fill='#FF545C')
                                    path(d='M102.353 80.9893C80.0704 80.9893 56.4389 78.6171 38.0386 71.6532C37.6446 71.5021 37.2885 71.2665 36.9953 70.963C36.7021 70.6594 36.479 70.2954 36.3415 69.8963L26.9398 42.9364C26.7893 42.4997 26.7451 42.0335 26.8109 41.5763C26.8767 41.1191 27.0507 40.6843 27.3183 40.3079C27.5859 39.9314 27.9394 39.6243 28.3496 39.4121C28.7597 39.1998 29.2145 39.0885 29.6763 39.0874L33.919 39.1086C37.8914 39.1338 41.7876 40.2014 45.2183 42.2046C48.649 44.2078 51.494 47.0765 53.469 50.5241L145.959 46.5011C156.518 46.0767 166.684 51.6614 171.809 60.8107C172.505 62.0439 172.909 63.4201 172.992 64.8337C173.074 66.2474 172.832 67.6612 172.284 68.967C171.754 70.2587 170.935 71.412 169.891 72.3387C168.847 73.2655 167.605 73.9411 166.26 74.314C155.301 77.3779 129.862 80.9893 102.361 80.9893H102.353ZM41.3478 66.7094C80.8043 80.9511 146.2 73.8981 164.69 68.7336C165.191 68.5954 165.653 68.3441 166.041 67.9991C166.43 67.654 166.734 67.2244 166.93 66.7433C167.137 66.2471 167.228 65.7101 167.197 65.1733C167.165 64.6365 167.011 64.1139 166.747 63.6454C164.696 60.0471 161.694 57.0835 158.069 55.0802C154.444 53.0769 150.338 52.1113 146.2 52.2894L51.895 56.393C51.3285 56.4186 50.7671 56.2765 50.2811 55.9843C49.7951 55.6922 49.406 55.2631 49.1627 54.7507C47.8071 51.8338 45.6529 49.3609 42.9497 47.6184C40.2465 45.8759 37.105 44.9353 33.8893 44.9055H33.7577L41.3478 66.7094Z', fill='#B72A4A')
                                    path(d='M127.445 65.8984L89.4733 97.5476C87.5342 99.1635 85.09 100.048 82.5662 100.047H69.4141L93.3001 65.8984', fill='#FF545C')
                                    path(d='M82.5691 102.929H69.4169C68.8875 102.928 68.3684 102.782 67.916 102.507C67.4636 102.232 67.0952 101.838 66.8508 101.368C66.6063 100.899 66.4952 100.371 66.5295 99.8425C66.5638 99.3141 66.7422 98.8052 67.0453 98.371L90.944 64.2223C91.3955 63.6219 92.0623 63.2203 92.8039 63.1021C93.5456 62.9839 94.3042 63.1584 94.9198 63.5887C95.5354 64.019 95.9599 64.6715 96.1039 65.4088C96.2478 66.1461 96.1 66.9104 95.6916 67.5408L74.962 97.1361H82.5648C84.4114 97.1331 86.1988 96.4846 87.6178 95.3028L125.585 63.6536C125.878 63.4098 126.215 63.226 126.579 63.1127C126.942 62.9994 127.325 62.9589 127.704 62.9934C128.083 63.0278 128.452 63.1367 128.789 63.3137C129.126 63.4907 129.425 63.7324 129.669 64.0249C129.912 64.3175 130.096 64.6553 130.209 65.0189C130.323 65.3825 130.363 65.7648 130.329 66.1441C130.294 66.5234 130.186 66.8922 130.009 67.2294C129.832 67.5666 129.59 67.8657 129.298 68.1095L91.3259 99.7587C88.8664 101.805 85.7685 102.927 82.5691 102.929Z', fill='#B72A4A')
                                    path(d='M69.7116 123.658C69.1228 123.665 68.5371 123.745 67.9679 123.896C68.1581 122.863 68.2561 121.814 68.2607 120.764C68.0628 116.287 66.1455 112.059 62.9081 108.961C59.6708 105.863 55.3632 104.133 50.8828 104.133C46.4024 104.133 42.0948 105.863 38.8575 108.961C35.6202 112.059 33.7028 116.287 33.505 120.764C33.505 120.946 33.505 121.12 33.5346 121.303C32.5991 120.954 31.6098 120.772 30.6115 120.764C28.3048 120.764 26.0926 121.68 24.4615 123.312C22.8304 124.943 21.9141 127.156 21.9141 129.463C21.9141 131.771 22.8304 133.983 24.4615 135.615C26.0926 137.246 28.3048 138.163 30.6115 138.163H69.7116C71.6324 138.163 73.4745 137.4 74.8326 136.041C76.1908 134.683 76.9538 132.84 76.9538 130.919C76.9538 128.998 76.1908 127.155 74.8326 125.797C73.4745 124.438 71.6324 123.675 69.7116 123.675V123.658Z', fill='#FFE7DC')
                                    path(d='M69.7103 141.04H30.5974C29.0575 141.07 27.5271 140.792 26.0958 140.223C24.6645 139.654 23.361 138.805 22.2615 137.726C21.162 136.647 20.2886 135.36 19.6924 133.939C19.0962 132.519 18.7891 130.994 18.7891 129.453C18.7891 127.912 19.0962 126.387 19.6924 124.967C20.2886 123.546 21.162 122.259 22.2615 121.18C23.361 120.101 24.6645 119.252 26.0958 118.683C27.5271 118.114 29.0575 117.836 30.5974 117.866H30.8011C31.5332 112.791 34.1598 108.182 38.1522 104.967C42.1446 101.751 47.2065 100.167 52.3192 100.534C57.432 100.901 62.2161 103.191 65.7088 106.943C69.2016 110.696 71.1437 115.633 71.1443 120.76V120.862C73.6887 121.217 76.0032 122.526 77.6197 124.524C79.2361 126.521 80.0339 129.058 79.8518 131.621C79.6696 134.184 78.5211 136.583 76.6384 138.331C74.7557 140.08 72.2794 141.048 69.7103 141.04ZM30.6101 123.641C29.8362 123.62 29.0658 123.755 28.3446 124.037C27.6234 124.318 26.966 124.742 26.4112 125.282C25.8563 125.822 25.4153 126.468 25.1142 127.181C24.8131 127.895 24.6579 128.662 24.6579 129.436C24.6579 130.21 24.8131 130.977 25.1142 131.691C25.4153 132.404 25.8563 133.05 26.4112 133.59C26.966 134.13 27.6234 134.554 28.3446 134.836C29.0658 135.117 29.8362 135.252 30.6101 135.231H69.7103C70.8625 135.231 71.9676 134.773 72.7823 133.958C73.597 133.143 74.0548 132.038 74.0548 130.885C74.0548 129.733 73.597 128.627 72.7823 127.812C71.9676 126.998 70.8625 126.54 69.7103 126.54C69.3549 126.547 69.0016 126.597 68.6581 126.688C68.1883 126.805 67.6967 126.802 67.2284 126.679C66.7601 126.557 66.3299 126.319 65.9775 125.987C65.625 125.655 65.3613 125.24 65.2108 124.78C65.0602 124.319 65.0274 123.829 65.1155 123.353C65.4785 121.374 65.4251 119.341 64.9587 117.383C64.4923 115.426 63.6232 113.587 62.4067 111.985C61.1903 110.382 59.6533 109.051 57.8937 108.075C56.1341 107.1 54.1907 106.502 52.1872 106.32C50.1838 106.138 48.1645 106.376 46.258 107.018C44.3515 107.66 42.5997 108.692 41.1144 110.049C39.6291 111.406 38.4428 113.058 37.6314 114.899C36.8199 116.741 36.401 118.731 36.4013 120.743C36.4013 120.785 36.4268 121.167 36.431 121.193C36.4463 121.665 36.346 122.133 36.1388 122.557C35.9315 122.981 35.6237 123.348 35.2422 123.626C34.8606 123.904 34.4169 124.084 33.9497 124.151C33.4825 124.218 33.006 124.17 32.5618 124.011C31.9318 123.782 31.2675 123.663 30.5974 123.658L30.6101 123.641Z', fill='#B72A4A')

                            p.flightPayment__title.colorRed Payment failed Order Number #888
                            .flightPayment__cont
                                .flightPayment__again
                                    button.btnLink(type='button')
                                        svg.svg1(width='13', height='12', viewBox='0 0 13 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(fill-rule='evenodd', clip-rule='evenodd', d='M0.887639 10.0532C0.594745 10.3461 0.594745 10.8209 0.887639 11.1138C1.18053 11.4067 1.65541 11.4067 1.9483 11.1138L6.4483 6.61383C6.74119 6.32093 6.74119 5.84606 6.4483 5.55317L1.9483 1.05317C1.6554 0.760272 1.18053 0.760272 0.887638 1.05317C0.594744 1.34606 0.594744 1.82093 0.887638 2.11382L4.85731 6.0835L0.887639 10.0532ZM6.22097 10.0532C5.92808 10.3461 5.92808 10.8209 6.22097 11.1138C6.51387 11.4067 6.98874 11.4067 7.28163 11.1138L11.7816 6.61383C12.0745 6.32093 12.0745 5.84606 11.7816 5.55317L7.28163 1.05317C6.98874 0.760273 6.51386 0.760273 6.22097 1.05317C5.92808 1.34606 5.92808 1.82093 6.22097 2.11383L10.1906 6.0835L6.22097 10.0532Z', fill='#318FDB')
                                        span Payment again
                                .flightPayment__question
                                    button.btnLink.medium(type='button' data-toggle="modal" data-target="#failedModal")
                                        span What is the reason of your failed payment?
                                p.text14.colorBlack45.mb15 Note: we are holding your booking request in a limited time only; otherwise our system will cancel your booking request automatically.
                                ul.flightPayment__list
                                    li
                                        p Payment Date: 07-Apr-2020
                                    li
                                        p [E] reservations@flythaiairways.com
                                    li
                                        p [W] https://www.flythaiairways.com/
                        .flightPayment__box
                            .flightPayment__icon
                                svg.svg1point5(width='174', height='142', viewBox='0 0 174 142', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M91.2543 137.056C128.044 137.056 157.868 107.225 157.868 70.4265C157.868 33.628 128.044 3.79688 91.2543 3.79688C54.4646 3.79688 24.6406 33.628 24.6406 70.4265C24.6406 107.225 54.4646 137.056 91.2543 137.056Z', fill='#E8FBB6')
                                    path(d='M50.9193 94.4995H24.1907C23.4222 94.4995 22.6851 94.1941 22.1417 93.6505C21.5983 93.107 21.293 92.3698 21.293 91.6011C21.293 90.8323 21.5983 90.0951 22.1417 89.5516C22.6851 89.008 23.4222 88.7026 24.1907 88.7026H50.9405C51.709 88.7026 52.4461 89.008 52.9895 89.5516C53.5329 90.0951 53.8382 90.8323 53.8382 91.6011C53.8382 92.3698 53.5329 93.107 52.9895 93.6505C52.4461 94.1941 51.709 94.4995 50.9405 94.4995H50.9193Z', fill='#639F23')
                                    path(d='M30.6435 82.9099H3.91483C3.52525 82.9249 3.13666 82.861 2.77234 82.7222C2.40802 82.5833 2.07545 82.3724 1.79455 82.102C1.51365 81.8316 1.29019 81.5072 1.13756 81.1484C0.984922 80.7896 0.90625 80.4036 0.90625 80.0137C0.90625 79.6237 0.984922 79.2377 1.13756 78.8789C1.29019 78.5201 1.51365 78.1957 1.79455 77.9253C2.07545 77.6549 2.40802 77.444 2.77234 77.3051C3.13666 77.1663 3.52525 77.1024 3.91483 77.1174H30.6435C31.033 77.1024 31.4216 77.1663 31.7859 77.3051C32.1503 77.444 32.4828 77.6549 32.7637 77.9253C33.0446 78.1957 33.2681 78.5201 33.4207 78.8789C33.5734 79.2377 33.652 79.6237 33.652 80.0137C33.652 80.4036 33.5734 80.7896 33.4207 81.1484C33.2681 81.5072 33.0446 81.8316 32.7637 82.102C32.4828 82.3724 32.1503 82.5833 31.7859 82.7222C31.4216 82.861 31.033 82.9249 30.6435 82.9099Z', fill='#639F23')
                                    path(d='M157.342 19.4915C156.882 19.4971 156.424 19.5604 155.98 19.68C156.128 18.8603 156.205 18.0287 156.208 17.1952C156.054 13.6429 154.556 10.2883 152.027 7.83013C149.498 5.372 146.132 4 142.632 4C139.132 4 135.766 5.372 133.237 7.83013C130.708 10.2883 129.21 13.6429 129.055 17.1952C129.055 17.34 129.055 17.478 129.079 17.6228C128.348 17.3462 127.575 17.2015 126.795 17.1952C124.993 17.1952 123.264 17.9224 121.99 19.2168C120.716 20.5113 120 22.267 120 24.0976C120 25.9282 120.716 27.6839 121.99 28.9783C123.264 30.2728 124.993 31 126.795 31H157.342C158.843 31 160.282 30.3945 161.343 29.3166C162.404 28.2387 163 26.7768 163 25.2525C163 23.7281 162.404 22.2662 161.343 21.1884C160.282 20.1105 158.843 19.505 157.342 19.505V19.4915Z', fill='#F5FDDA')
                                    path(d='M157.312 33H127.696C125.369 32.9794 123.146 32.0265 121.515 30.3511C119.885 28.6757 118.98 26.415 119 24.0663C119.021 21.7176 119.965 19.4733 121.624 17.8271C123.284 16.1809 125.524 15.2677 127.85 15.2883C128.405 11.4093 130.395 7.88623 133.419 5.42814C136.443 2.97005 140.277 1.75937 144.149 2.03975C148.022 2.32012 151.646 4.07073 154.291 6.93929C156.937 9.80785 158.408 13.5814 158.408 17.5007V17.5688C160.332 17.8461 162.079 18.8491 163.299 20.3757C164.518 21.9023 165.119 23.8389 164.98 25.7951C164.841 27.7512 163.973 29.5814 162.55 30.9167C161.127 32.2519 159.255 32.9929 157.312 32.9903V33ZM127.696 19.7C127.11 19.684 126.526 19.7867 125.98 20.0021C125.434 20.2175 124.936 20.5413 124.516 20.9542C124.095 21.3671 123.761 21.8608 123.533 22.4062C123.305 22.9516 123.188 23.5376 123.188 24.1296C123.188 24.7216 123.305 25.3076 123.533 25.853C123.761 26.3983 124.095 26.8921 124.516 27.305C124.936 27.7179 125.434 28.0416 125.98 28.257C126.526 28.4724 127.11 28.5751 127.696 28.5591H157.312C158.185 28.5591 159.022 28.2091 159.639 27.5862C160.256 26.9632 160.603 26.1183 160.603 25.2374C160.603 24.3564 160.256 23.5115 159.639 22.8885C159.022 22.2656 158.185 21.9156 157.312 21.9156C157.043 21.9209 156.776 21.9591 156.515 22.0291C156.16 22.1184 155.787 22.116 155.432 22.0223C155.078 21.9287 154.752 21.7466 154.485 21.4929C154.218 21.2392 154.018 20.922 153.904 20.5702C153.79 20.2184 153.765 19.8434 153.832 19.4794C154.107 17.9666 154.067 16.4125 153.713 14.9163C153.36 13.4201 152.702 12.0146 151.78 10.7896C150.859 9.56454 149.695 8.54679 148.362 7.80127C147.029 7.05575 145.557 6.59882 144.04 6.45962C142.522 6.32043 140.993 6.50203 139.549 6.99284C138.105 7.48366 136.778 8.2729 135.653 9.31024C134.528 10.3476 133.629 11.6102 133.014 13.0176C132.4 14.4251 132.082 15.9463 132.083 17.4844C132.083 17.5169 132.102 17.8088 132.105 17.8283C132.117 18.189 132.041 18.547 131.884 18.8713C131.727 19.1955 131.494 19.476 131.205 19.6884C130.916 19.9009 130.58 20.0387 130.226 20.0899C129.872 20.1411 129.511 20.1041 129.174 19.9822C128.701 19.8043 128.201 19.7089 127.696 19.7Z', fill='#639F23')
                                    path(d='M94.7332 52.2214L72.5527 24.0732L85.7049 24.1454C95.1162 24.2009 104.229 27.4557 111.547 33.3753L132.281 52.2214H94.7332Z', fill='#81BE33')
                                    path(d='M132.28 55.1195H94.7327C94.2949 55.1193 93.8629 55.02 93.469 54.8289C93.0752 54.6378 92.7297 54.3599 92.4586 54.0161L70.2781 25.868C69.9407 25.4411 69.7304 24.9278 69.6714 24.3869C69.6124 23.846 69.707 23.2993 69.9444 22.8098C70.1818 22.3202 70.5524 21.9075 71.0137 21.619C71.4749 21.3305 72.0081 21.1779 72.5521 21.1787L85.7043 21.2509C95.7722 21.3192 105.519 24.8005 113.354 31.1258L134.215 50.078C134.646 50.4708 134.949 50.9846 135.083 51.5523C135.218 52.12 135.178 52.7151 134.969 53.2597C134.76 53.8044 134.392 54.2733 133.912 54.6051C133.432 54.9369 132.863 55.1162 132.28 55.1195ZM96.137 49.3481H124.792L109.603 35.5392C102.816 30.0965 94.3904 27.1058 85.6916 27.0519L78.547 27.0137L96.137 49.3481Z', fill='#639F23')
                                    path(d='M146.073 49.3953C150.746 49.184 155.387 50.2707 159.482 52.5349C163.576 54.7991 166.965 58.1525 169.271 62.2238C169.748 63.0648 170.029 64.0032 170.091 64.9681C170.153 65.9331 169.995 66.8996 169.629 67.7947C169.264 68.6899 168.7 69.4904 167.98 70.136C167.26 70.7815 166.403 71.2553 165.474 71.5217C144.952 77.2591 78.7419 83.9556 39.0647 68.9543L29.6758 41.9858H33.9184C37.6742 42.03 41.3416 43.1314 44.5006 45.1638C47.6595 47.1962 50.1823 50.0775 51.7799 53.4777L146.073 49.3953Z', fill='#A1DD46')
                                    path(d='M102.353 80.9893C80.0704 80.9893 56.4389 78.6171 38.0386 71.6532C37.6446 71.5021 37.2885 71.2665 36.9953 70.963C36.7021 70.6594 36.479 70.2954 36.3415 69.8963L26.9398 42.9364C26.7893 42.4997 26.7451 42.0335 26.8109 41.5763C26.8767 41.1191 27.0507 40.6843 27.3183 40.3079C27.5859 39.9314 27.9394 39.6243 28.3496 39.4121C28.7597 39.1998 29.2145 39.0885 29.6763 39.0874L33.919 39.1086C37.8914 39.1338 41.7876 40.2014 45.2183 42.2046C48.649 44.2078 51.494 47.0765 53.469 50.5241L145.959 46.5011C156.518 46.0767 166.684 51.6614 171.809 60.8107C172.505 62.0439 172.909 63.4201 172.992 64.8337C173.074 66.2474 172.832 67.6612 172.284 68.967C171.754 70.2587 170.935 71.412 169.891 72.3387C168.847 73.2655 167.605 73.9411 166.26 74.314C155.301 77.3779 129.862 80.9893 102.361 80.9893H102.353ZM41.3478 66.7094C80.8043 80.9511 146.2 73.8981 164.69 68.7336C165.191 68.5954 165.653 68.3441 166.041 67.9991C166.43 67.654 166.734 67.2244 166.93 66.7433C167.137 66.2471 167.228 65.7101 167.197 65.1733C167.165 64.6365 167.011 64.1139 166.747 63.6454C164.696 60.0471 161.694 57.0835 158.069 55.0802C154.444 53.0769 150.338 52.1113 146.2 52.2894L51.895 56.393C51.3285 56.4186 50.7671 56.2765 50.2811 55.9843C49.7951 55.6922 49.406 55.2631 49.1627 54.7507C47.8071 51.8338 45.6529 49.3609 42.9497 47.6184C40.2465 45.8759 37.105 44.9353 33.8893 44.9055H33.7577L41.3478 66.7094Z', fill='#639F23')
                                    path(d='M127.443 65.8984L89.4713 97.5476C87.5323 99.1635 85.0881 100.048 82.5643 100.047H69.4121L93.2982 65.8984', fill='#A1DD46')
                                    path(d='M82.5691 102.929H69.4169C68.8875 102.928 68.3684 102.782 67.916 102.507C67.4636 102.232 67.0952 101.838 66.8508 101.368C66.6063 100.899 66.4952 100.371 66.5295 99.8425C66.5638 99.3141 66.7422 98.8052 67.0453 98.371L90.944 64.2223C91.3955 63.6219 92.0623 63.2203 92.8039 63.1021C93.5456 62.9839 94.3042 63.1584 94.9198 63.5887C95.5354 64.019 95.9599 64.6715 96.1039 65.4088C96.2478 66.1461 96.1 66.9104 95.6916 67.5408L74.962 97.1361H82.5648C84.4114 97.1331 86.1988 96.4846 87.6178 95.3028L125.585 63.6536C125.878 63.4098 126.215 63.226 126.579 63.1127C126.942 62.9994 127.325 62.9589 127.704 62.9934C128.083 63.0278 128.452 63.1367 128.789 63.3137C129.126 63.4907 129.425 63.7324 129.669 64.0249C129.912 64.3175 130.096 64.6553 130.209 65.0189C130.323 65.3825 130.363 65.7648 130.329 66.1441C130.294 66.5234 130.186 66.8922 130.009 67.2294C129.832 67.5666 129.59 67.8657 129.298 68.1095L91.3259 99.7587C88.8664 101.805 85.7685 102.927 82.5691 102.929Z', fill='#639F23')
                                    path(d='M69.7116 123.658C69.1228 123.665 68.5371 123.745 67.9679 123.896C68.1581 122.863 68.2561 121.814 68.2607 120.764C68.0628 116.287 66.1455 112.059 62.9081 108.961C59.6708 105.863 55.3632 104.133 50.8828 104.133C46.4024 104.133 42.0948 105.863 38.8575 108.961C35.6202 112.059 33.7028 116.287 33.505 120.764C33.505 120.946 33.505 121.12 33.5346 121.303C32.5991 120.954 31.6098 120.772 30.6115 120.764C28.3048 120.764 26.0926 121.68 24.4615 123.312C22.8304 124.943 21.9141 127.156 21.9141 129.463C21.9141 131.771 22.8304 133.983 24.4615 135.615C26.0926 137.246 28.3048 138.163 30.6115 138.163H69.7116C71.6324 138.163 73.4745 137.4 74.8326 136.041C76.1908 134.683 76.9538 132.84 76.9538 130.919C76.9538 128.998 76.1908 127.155 74.8326 125.797C73.4745 124.438 71.6324 123.675 69.7116 123.675V123.658Z', fill='#F5FDDA')
                                    path(d='M69.7123 141.04H30.5994C29.0594 141.07 27.529 140.792 26.0977 140.223C24.6664 139.654 23.3629 138.805 22.2634 137.726C21.1639 136.647 20.2906 135.36 19.6943 133.939C19.0981 132.519 18.791 130.994 18.791 129.453C18.791 127.912 19.0981 126.387 19.6943 124.967C20.2906 123.546 21.1639 122.259 22.2634 121.18C23.3629 120.101 24.6664 119.252 26.0977 118.683C27.529 118.114 29.0594 117.836 30.5994 117.866H30.803C31.5352 112.791 34.1617 108.182 38.1541 104.967C42.1465 101.751 47.2084 100.167 52.3212 100.534C57.4339 100.901 62.2181 103.191 65.7108 106.943C69.2035 110.696 71.1456 115.633 71.1463 120.76V120.862C73.6907 121.217 76.0052 122.526 77.6216 124.524C79.2381 126.521 80.0359 129.058 79.8537 131.621C79.6716 134.184 78.523 136.583 76.6403 138.331C74.7577 140.08 72.2814 141.048 69.7123 141.04ZM30.6121 123.641C29.8381 123.62 29.0678 123.755 28.3466 124.037C27.6254 124.318 26.968 124.742 26.4131 125.282C25.8583 125.822 25.4173 126.468 25.1161 127.181C24.815 127.895 24.6599 128.662 24.6599 129.436C24.6599 130.21 24.815 130.977 25.1161 131.691C25.4173 132.404 25.8583 133.05 26.4131 133.59C26.968 134.13 27.6254 134.554 28.3466 134.836C29.0678 135.117 29.8381 135.252 30.6121 135.231H69.7123C70.8645 135.231 71.9695 134.773 72.7843 133.958C73.599 133.143 74.0567 132.038 74.0567 130.885C74.0567 129.733 73.599 128.627 72.7843 127.812C71.9695 126.998 70.8645 126.54 69.7123 126.54C69.3568 126.547 69.0036 126.597 68.6601 126.688C68.1903 126.805 67.6987 126.802 67.2303 126.679C66.762 126.557 66.3319 126.319 65.9794 125.987C65.6269 125.655 65.3633 125.24 65.2127 124.78C65.0621 124.319 65.0294 123.829 65.1175 123.353C65.4805 121.374 65.427 119.341 64.9606 117.383C64.4942 115.426 63.6251 113.587 62.4087 111.985C61.1922 110.382 59.6552 109.051 57.8957 108.075C56.1361 107.1 54.1926 106.502 52.1892 106.32C50.1858 106.138 48.1664 106.376 46.2599 107.018C44.3534 107.66 42.6016 108.692 41.1163 110.049C39.631 111.406 38.4448 113.058 37.6333 114.899C36.8218 116.741 36.4029 118.731 36.4033 120.743C36.4033 120.785 36.4288 121.167 36.433 121.193C36.4483 121.665 36.3479 122.133 36.1407 122.557C35.9335 122.981 35.6257 123.348 35.2441 123.626C34.8626 123.904 34.4188 124.084 33.9516 124.151C33.4844 124.218 33.0079 124.17 32.5637 124.011C31.9338 123.782 31.2694 123.663 30.5994 123.658L30.6121 123.641Z', fill='#639F23')

                            p.flightPayment__title.colorGreen Success payment Order Number #888
                            .flightPayment__text
                                .flightPayment__price
                                    span Amount 302.5USD
                                p.text14.colorBlack85.mb15 Your payment was processed successfully and we are processing your booking now. The E-Ticket(s) will be issued and sent to your registered email soon. Please check your mailbox (Inbox, Junk and spam) to receive the E-ticket(s)
                                p.text14.colorBlack55.mb15 Note: Please use your e-ticket number for checking/referencing after ticket issued. Sincerely thanks for your patience.
                                .flightPayment__booking
                                    button.btnLink(type='button')
                                        svg.svg1(width='13', height='12', viewBox='0 0 13 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(fill-rule='evenodd', clip-rule='evenodd', d='M0.887639 10.0532C0.594745 10.3461 0.594745 10.8209 0.887639 11.1138C1.18053 11.4067 1.65541 11.4067 1.9483 11.1138L6.4483 6.61383C6.74119 6.32093 6.74119 5.84606 6.4483 5.55317L1.9483 1.05317C1.6554 0.760272 1.18053 0.760272 0.887638 1.05317C0.594744 1.34606 0.594744 1.82093 0.887638 2.11382L4.85731 6.0835L0.887639 10.0532ZM6.22097 10.0532C5.92808 10.3461 5.92808 10.8209 6.22097 11.1138C6.51387 11.4067 6.98874 11.4067 7.28163 11.1138L11.7816 6.61383C12.0745 6.32093 12.0745 5.84606 11.7816 5.55317L7.28163 1.05317C6.98874 0.760273 6.51386 0.760273 6.22097 1.05317C5.92808 1.34606 5.92808 1.82093 6.22097 2.11383L10.1906 6.0835L6.22097 10.0532Z', fill='#318FDB')
                                        span Booking status
                                ul.flightPayment__list
                                    li
                                        p Payment Date: 07-Apr-2020
                                    li
                                        p [E] reservations@flythaiairways.com
                                    li
                                        p [W] https://www.flythaiairways.com/
        #failedModal.modal.fade
            .modal-dialog.modal-failed
                .modal-content
                    .modal-body
                        button.close(type='button', data-dismiss='modal')
                            svg.svg1point5(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z', fill='black', fill-opacity='0.55')
                        .modal-failed__cont
                            .modal-failed__title
                                svg(width='80', height='76', viewBox='0 0 80 76', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M77.5011 75.4499C77.9336 75.4501 78.3587 75.3381 78.735 75.1248C79.1112 74.9116 79.4257 74.6044 79.6477 74.2333C79.8697 73.8621 79.9916 73.4397 80.0016 73.0074C80.0115 72.575 79.9092 72.1475 79.7045 71.7665L42.2045 1.76655C41.9694 1.39477 41.6442 1.0885 41.2589 0.876266C40.8737 0.664033 40.441 0.552734 40.0011 0.552734C39.5613 0.552734 39.1286 0.664033 38.7433 0.876266C38.3581 1.0885 38.0328 1.39477 37.7978 1.76655L0.297792 71.7665C0.09309 72.1475 -0.00928762 72.575 0.000661831 73.0074C0.0106113 73.4397 0.132548 73.8621 0.354557 74.2333C0.576566 74.6044 0.891054 74.9116 1.26729 75.1248C1.64353 75.3381 2.06866 75.4501 2.50113 75.4499H77.5011ZM40.0011 66.2832C39.0122 66.2832 38.0455 65.99 37.2233 65.4406C36.401 64.8912 35.7602 64.1103 35.3817 63.1966C35.0033 62.283 34.9043 61.2777 35.0972 60.3078C35.2901 59.3378 35.7663 58.4469 36.4656 57.7477C37.1649 57.0484 38.0558 56.5722 39.0257 56.3793C39.9956 56.1864 41.0009 56.2854 41.9145 56.6638C42.8282 57.0422 43.6091 57.6831 44.1585 58.5054C44.7079 59.3276 45.0011 60.2943 45.0011 61.2832C45.0011 62.6093 44.4743 63.8811 43.5367 64.8187C42.599 65.7564 41.3272 66.2832 40.0011 66.2832ZM40.0011 25.4499C40.8852 25.4499 41.733 25.8011 42.3581 26.4262C42.9833 27.0513 43.3345 27.8992 43.3345 28.7832V46.9999C43.3345 47.8839 42.9833 48.7318 42.3581 49.3569C41.733 49.982 40.8852 50.3332 40.0011 50.3332C39.1171 50.3332 38.2692 49.982 37.6441 49.3569C37.019 48.7318 36.6678 47.8839 36.6678 46.9999V28.7832C36.6678 27.8992 37.019 27.0513 37.6441 26.4262C38.2692 25.8011 39.1171 25.4499 40.0011 25.4499Z', fill='#DB3D52')
                                h3.color1.mt15 What is the reason of your failed payment?
                            ul
                                li - In correct card information (Card number, Card holder name, Date of expiration...).
                                li - Not enough credit balance (daily or monthly) or Insufficient Funds. You should check your bank account balance.
                                li - Your card has not been activated for online payment. You should contact the Issuer Bank for the card activation.
                                li - Your bank has not been approved for online payment. You should contact the Issuer Bank for the card activation.
                                li Kindly solve the problem then you can make payment again to secure your reservation.
        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')
        script(src='/js/t-datepicker.min.js')

        script.
            $('.camNavbar__toggle').click(function () {
                $('.camNavbar__main').addClass('open');
            });

            $('.camNavbar__close, .camNavbar__backdrop').click(function () {
                $('.camNavbar__main').removeClass('open');
            });
            if (screen.width < 768) {
                $('.camNavbar__link').click(function () {
                    $(this).next('.camNavbar__sub').slideToggle(200);
                    $(this).parent('li').toggleClass('active');
                });
            };
            if (screen.width < 768) {
                $('.footer__top').css('background-image', 'url("images/footer-bg-mobile.jpg")')
            };
        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart',
                titleCheckOut: 'Return',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });
        script.
            $('.btnDetail').click(function () {
                $(this).toggleClass('rotate');
                $(this).parents('.formBox__price__detail').find('.costBox').slideToggle(200);
            });
        script.
            $(".tipsBox__btn").on("click", function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    $(this)
                        .siblings(".tipsBox__body")
                        .slideUp(200);
                    $(".tipsBox__btn i")
                        .removeClass("fa-chevron-up")
                        .addClass("fa-chevron-down");
                } else {
                    $(".tipsBox__btn i")
                        .removeClass("fa-chevron-up")
                        .addClass("fa-chevron-down");
                    $(this)
                        .find("i")
                        .removeClass("fa-chevron-down")
                        .addClass("fa-chevron-up");
                    $(".tipsBox__btn").removeClass("active");
                    $(this).addClass("active");
                    $(".tipsBox__body").slideUp(200);
                    $(this)
                        .siblings(".tipsBox__body")
                        .slideDown(200);
                }
            });




