- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header

        main.wrapper
            section.flightStatus
                .flightStatus__search
                    .container
                        h2.color1.mb30 Flight Status
                        .searchBox
                            .searchBox__item.open
                                .searchBox__status
                                    p.text16.color1.mb15.medium Enter Flight Information
                                    .searchBox__radio
                                        .radio
                                            input#r1(type='radio', name='fl' checked='')
                                            label(for='r1') Route
                                        .radio
                                            input#r2(type='radio', name='fl')
                                            label(for='r2') Flight Number
                                    .route
                                        .searchBox__form
                                            .searchBox__place
                                                .placeGroup
                                                    .form-group
                                                        label From
                                                        .inputSvg
                                                            input.form-control(type='text' placeholder='Select Origin')
                                                            svg.svg1.svgArrow(width='12', height='8', viewBox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M1.06252 1.93937L5.43065 7.03687C5.50106 7.11899 5.5884 7.18491 5.68668 7.23011C5.78496 7.2753 5.89185 7.2987 6.00002 7.2987C6.10819 7.2987 6.21509 7.2753 6.31337 7.23011C6.41165 7.18491 6.49899 7.11899 6.5694 7.03687L10.9375 1.93937C11.3544 1.45281 11.0088 0.701248 10.3681 0.701248H1.63065C0.990022 0.701248 0.644397 1.45281 1.06252 1.93937Z', fill='black', fill-opacity='0.25')

                                                        include jades/suggestPlace
                                                    button.btnRound(type='button')
                                                        svg.svg1point5(width='24', height='24', viewBox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                            g(opacity='0.24')
                                                                path(d='M22.3676 17.1822C22.5212 16.8805 22.598 16.5788 22.7516 16.2771C23.0588 15.4475 23.2892 14.6178 23.366 13.7128C23.366 13.3356 23.5196 12.9585 23.4428 12.6568C23.2892 8.35773 20.7548 4.43573 16.3773 3.00269C13.4589 2.0222 10.6942 2.32389 8.08298 3.90777C7.77578 4.05862 7.77578 4.05862 8.00618 4.36031C8.08298 4.51116 8.23658 4.662 8.31338 4.88827C6.62379 4.88827 4.93421 5.03912 3.24463 5.11454C4.01262 3.60608 4.70381 2.17304 5.47181 0.664581C5.6254 0.89085 5.779 1.0417 5.8558 1.26797C5.9326 1.41881 6.0862 1.41881 6.2398 1.34339C7.23819 0.815427 8.39017 0.438312 9.54216 0.212043C10.9245 -0.0142257 12.3069 -0.0896487 13.6893 0.13662C15.9165 0.438312 17.8365 1.26797 19.6029 2.62558C21.5996 4.20946 22.9052 6.17046 23.5964 8.584C23.9036 9.63992 24.0572 10.7713 23.9804 11.8272C23.9036 13.7128 23.4428 15.4475 22.5212 17.0314C22.4444 17.1068 22.4444 17.1068 22.3676 17.1822Z', fill='#0E61D7', fill-opacity='0.4')
                                                                path(d='M1.78595 6.69839C1.63235 7.00009 1.55555 7.30178 1.40196 7.52805C1.09476 8.3577 0.864362 9.18735 0.787563 10.0924C0.710764 10.4695 0.633965 10.8467 0.633965 11.1484C0.710764 15.5229 3.09154 19.4449 7.46909 21.0288C10.3107 22.0847 13.1522 21.783 15.8402 20.2745C16.1474 20.1237 16.1474 20.1237 15.917 19.822C15.8402 19.6712 15.6866 19.5203 15.6098 19.294C17.2994 19.2186 18.9122 19.1432 20.6786 19.0678C19.9106 20.5762 19.1426 22.0093 18.3746 23.4423C18.221 23.216 18.0674 23.0652 17.9906 22.8389C17.9138 22.6881 17.7602 22.6881 17.6066 22.7635C16.5314 23.2915 15.4562 23.6686 14.3042 23.8194C12.9218 24.0457 11.5394 24.0457 10.1571 23.8948C8.00669 23.5177 6.00991 22.6881 4.32033 21.3305C2.40035 19.7466 1.09476 17.7102 0.403567 15.2966C0.0963702 14.3161 -0.0572281 13.1848 0.019571 12.1289C0.0963702 10.2433 0.633964 8.50855 1.55555 6.92466C1.63235 6.84924 1.63235 6.77382 1.78595 6.69839C1.70915 6.69839 1.70915 6.69839 1.78595 6.69839Z', fill='#0E61D7', fill-opacity='0.4')
                                                            path(d='M17.1486 10.6875C17.0743 10.6875 16.7538 10.6897 16.6381 10.696L15.0585 10.7375L11.4157 6.3125H9.69829L11.7379 10.8136L9.07704 10.8529L7.86625 9.375H6.44137L7.00493 11.9502C7.00903 11.965 7.01395 11.9795 7.01942 11.9937C7.01982 11.995 7.01982 11.9965 7.01942 11.9978C7.01381 12.0119 7.00898 12.0264 7.00493 12.041L6.43372 14.625H7.84957L9.09235 13.1211L11.7384 13.1804L9.69801 17.6875H11.4207L15.0574 13.2646L16.637 13.3068C16.7543 13.313 17.0745 13.3152 17.1473 13.3152C17.8131 13.3152 18.3578 13.2239 18.7663 13.0434C19.4592 12.7383 19.5625 12.2587 19.5625 12C19.5625 11.178 18.6602 10.6875 17.1486 10.6875Z', fill='#0E61D7')

                                                    .form-group
                                                        label To
                                                        .inputSvg
                                                            input.form-control(type='text' placeholder='Select Destination')
                                                            svg.svg1.svgArrow(width='12', height='8', viewBox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M1.06252 1.93937L5.43065 7.03687C5.50106 7.11899 5.5884 7.18491 5.68668 7.23011C5.78496 7.2753 5.89185 7.2987 6.00002 7.2987C6.10819 7.2987 6.21509 7.2753 6.31337 7.23011C6.41165 7.18491 6.49899 7.11899 6.5694 7.03687L10.9375 1.93937C11.3544 1.45281 11.0088 0.701248 10.3681 0.701248H1.63065C0.990022 0.701248 0.644397 1.45281 1.06252 1.93937Z', fill='black', fill-opacity='0.25')

                                                        .suggestPlace.suggestPlace_little
                                                            .suggestPlace__group
                                                                .suggestPlace__col
                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                .suggestPlace__col
                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                .suggestPlace__col
                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                .suggestPlace__col
                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                .suggestPlace__col
                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                    ul.suggestPlace__item
                                                                        li.liTitle Thailand
                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                                                        li
                                                                            a(href='#') Bangkok (BKK)

                                            .searchBox__dropdown
                                                .form-group
                                                    label Depart date
                                                    .dropdown
                                                        button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                            span Today, Apr 20
                                                            svg.svg1.svgArrow(width='12', height='8', viewBox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M1.06252 1.93937L5.43065 7.03687C5.50106 7.11899 5.5884 7.18491 5.68668 7.23011C5.78496 7.2753 5.89185 7.2987 6.00002 7.2987C6.10819 7.2987 6.21509 7.2753 6.31337 7.23011C6.41165 7.18491 6.49899 7.11899 6.5694 7.03687L10.9375 1.93937C11.3544 1.45281 11.0088 0.701248 10.3681 0.701248H1.63065C0.990022 0.701248 0.644397 1.45281 1.06252 1.93937Z', fill='black', fill-opacity='0.25')
                                                        .dropdown-menu
                                                            a.dropdown-item(href='#') Today, Apr 20
                                                            a.dropdown-item(href='#') Tomorrow, Apr 20
                                            .searchBox__btn
                                                a.btn.btn-orange-1.btn-lg(href='flightStatus_route.html') Search
                                    .flightNumber.hidden
                                        .searchBox__form
                                            .formMerge
                                                .form-group
                                                    label Flight number
                                                    input.form-control(type='text' placeholder='Flight number')
                                            .searchBox__dropdown
                                                .form-group
                                                    label Depart date
                                                    .dropdown
                                                        button.dropdown-toggle(type='button' data-toggle='dropdown')
                                                            span Today, Apr 20
                                                            svg.svg1.svgArrow(width='12', height='8', viewBox='0 0 12 8', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M1.06252 1.93937L5.43065 7.03687C5.50106 7.11899 5.5884 7.18491 5.68668 7.23011C5.78496 7.2753 5.89185 7.2987 6.00002 7.2987C6.10819 7.2987 6.21509 7.2753 6.31337 7.23011C6.41165 7.18491 6.49899 7.11899 6.5694 7.03687L10.9375 1.93937C11.3544 1.45281 11.0088 0.701248 10.3681 0.701248H1.63065C0.990022 0.701248 0.644397 1.45281 1.06252 1.93937Z', fill='black', fill-opacity='0.25')
                                                        .dropdown-menu
                                                            a.dropdown-item(href='#') Today, Apr 20
                                                            a.dropdown-item(href='#') Tomorrow, Apr 20
                                            .searchBox__btn
                                                a.btn.btn-orange-1.btn-lg(href='flightStatus_number.html') Search
                        .lineInfo
                            .lineInfo__numb
                                p.text16.color1.medium #3835
                            .lineInfo__trip
                                p.text16.color1.medium Hanoi (HAN), Vietnam
                                svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                p.text16.color1.medium Phuket (HKT), Thailand
                            .lineInfo__date
                                p.text14.colorBlack65 Wednesday, 15 January 2020
                .flightStatus__body
                    .container
                        .flightStatus__desktop
                            .statusTable
                                .statusTable__header
                                    .statusTable__number
                                        p.text16.colorWhite.medium Flight number
                                    .statusTable__trip
                                        p.text16.colorWhite.medium Departure
                                        p &nbsp;
                                        p.text16.colorWhite.medium Arrival
                                    .statusTable__stop
                                        p.text-center.text16.colorWhite.medium Stop
                                    .statusTable__time
                                        p.text16.colorWhite.medium Status
                                .statusTable__body
                                    .statusTable__item
                                        .statusTable__row
                                            .statusTable__number
                                                p.text20.color1.medium #3835
                                            .statusTable__trip
                                                .flInfo__trip
                                                    .flInfo__item
                                                        .d-block
                                                            p.medium.color1.text18 15:35 HAN
                                                            p.text12.mb0.color1.medium Hanoi, Vietnam
                                                            p.text12.colorBlack55 Wed, 15 Jan 2020
                                                            p.text12.colorBlack55 Noi Bai
                                                            p.text12.colorBlack55 Terminal 1
                                                    .flInfo__item
                                                        .stopBox
                                                            .stopBox__icon
                                                                svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                                    .flInfo__item
                                                        .d-block
                                                            p.medium.color1.text18 17: 40 BKK
                                                            p.text12.mb0.color1.medium Bangkok, Thailand
                                                            p.text12.colorBlack55 Wed, 15 Jan 2020
                                                            p.text12.colorBlack55 Noi Bai
                                                            p.text12.colorBlack55 Terminal 1


                                            .statusTable__stop.text-center
                                                .d-block
                                                    p.text16.colorOrange1.medium 1 Stop
                                                    p.text14.colorBlack55.mt5 (SGN)
                                            .statusTable__time
                                                .d-block
                                                    p.text20.medium.colorGreen On time
                                        .statusTable__code
                                            .flCode
                                                svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                    path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                p
                                                    span.text12.colorBlack85 K6 - 3835 - 321
                                    .statusTable__item
                                        .statusTable__row
                                            .statusTable__number
                                                p.text20.color1.medium #3835
                                            .statusTable__trip
                                                .flInfo__trip
                                                    .flInfo__item
                                                        .d-block
                                                            p.medium.color1.text18 15:35 HAN
                                                            p.text12.mb0.color1.medium Hanoi, Vietnam
                                                            p.text12.colorBlack55 Wed, 15 Jan 2020
                                                            p.text12.colorBlack55 Noi Bai
                                                            p.text12.colorBlack55 Terminal 1
                                                    .flInfo__item
                                                        .stopBox
                                                            .stopBox__icon
                                                                svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                                    .flInfo__item
                                                        .d-block
                                                            p.medium.color1.text18 17: 40 BKK
                                                            p.text12.mb0.color1.medium Bangkok, Thailand
                                                            p.text12.colorBlack55 Wed, 15 Jan 2020
                                                            p.text12.colorBlack55 Noi Bai
                                                            p.text12.colorBlack55 Terminal 1


                                            .statusTable__stop.text-center
                                                .d-block
                                                    p.text16.colorOrange1.medium 1 Stop
                                                    p.text14.colorBlack55.mt5 (SGN)
                                            .statusTable__time
                                                .d-block
                                                    p.text20.medium.colorGreen On time
                                        .statusTable__code
                                            .flCode
                                                svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                    path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                p
                                                    span.text12.colorBlack85 K6 - 3835 - 321
                                    .statusTable__item
                                        .statusTable__row
                                            .statusTable__number
                                                p.text20.color1.medium #3835
                                            .statusTable__trip
                                                .flInfo__trip
                                                    .flInfo__item
                                                        .d-block
                                                            p.medium.color1.text18 15:35 HAN
                                                            p.text12.mb0.color1.medium Hanoi, Vietnam
                                                            p.text12.colorBlack55 Wed, 15 Jan 2020
                                                            p.text12.colorBlack55 Noi Bai
                                                            p.text12.colorBlack55 Terminal 1
                                                    .flInfo__item
                                                        .stopBox
                                                            .stopBox__icon
                                                                svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                                    .flInfo__item
                                                        .d-block
                                                            p.medium.color1.text18 17: 40 BKK
                                                            p.text12.mb0.color1.medium Bangkok, Thailand
                                                            p.text12.colorBlack55 Wed, 15 Jan 2020
                                                            p.text12.colorBlack55 Noi Bai
                                                            p.text12.colorBlack55 Terminal 1


                                            .statusTable__stop.text-center
                                                .d-block
                                                    p.text16.colorOrange1.medium 1 Stop
                                                    p.text14.colorBlack55.mt5 (SGN)
                                            .statusTable__time
                                                .d-block
                                                    p.text20.medium.colorGreen On time
                                        .statusTable__code
                                            .flCode
                                                svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                    path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                p
                                                    span.text12.colorBlack85 K6 - 3835 - 321
                                    .statusTable__item
                                        .statusTable__row
                                            .statusTable__number
                                                p.text20.color1.medium #3835
                                            .statusTable__trip
                                                .flInfo__trip
                                                    .flInfo__item
                                                        .d-block
                                                            p.medium.color1.text18 15:35 HAN
                                                            p.text12.mb0.color1.medium Hanoi, Vietnam
                                                            p.text12.colorBlack55 Wed, 15 Jan 2020
                                                            p.text12.colorBlack55 Noi Bai
                                                            p.text12.colorBlack55 Terminal 1
                                                    .flInfo__item
                                                        .stopBox
                                                            .stopBox__icon
                                                                svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                                    .flInfo__item
                                                        .d-block
                                                            p.medium.color1.text18 17: 40 BKK
                                                            p.text12.mb0.color1.medium Bangkok, Thailand
                                                            p.text12.colorBlack55 Wed, 15 Jan 2020
                                                            p.text12.colorBlack55 Noi Bai
                                                            p.text12.colorBlack55 Terminal 1


                                            .statusTable__stop.text-center
                                                .d-block
                                                    p.text16.colorOrange1.medium 1 Stop
                                                    p.text14.colorBlack55.mt5 (SGN)
                                            .statusTable__time
                                                .d-block
                                                    p.text20.medium.colorGreen On time
                                        .statusTable__code
                                            .flCode
                                                svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                    path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                p
                                                    span.text12.colorBlack85 K6 - 3835 - 321
                        .flightStatus__mobile
                            .statusTableMobile
                                .statusTableMobile__header
                                    p.text16.medium.colorWhite Departure
                                    p &nbsp;
                                    p.text16.medium.colorWhite Arrival
                                .statusTableMobile__body
                                    .statusTableMobile__item
                                        .statusTableMobile__row
                                            .flInfo__trip
                                                .flInfo__item
                                                    .d-block
                                                        p.medium.color1.text18 15:35 HAN
                                                        p.text12.mb0.color1.medium Hanoi, Vietnam
                                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                                        p.text12.colorBlack55 Noi Bai
                                                        p.text12.colorBlack55 Terminal 1
                                                .flInfo__item
                                                    .stopBox
                                                        .stopBox__icon
                                                            svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                                .flInfo__item
                                                    .d-block
                                                        p.medium.color1.text18 17: 40 BKK
                                                        p.text12.mb0.color1.medium Bangkok, Thailand
                                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                                        p.text12.colorBlack55 Noi Bai
                                                        p.text12.colorBlack55 Terminal 1


                                            p.text14.mt15.mb15
                                                span.colorRed.medium 1 Stop
                                                span.colorBlack55.ml5 (SGN)
                                            p.d-flex.text16.medium
                                                span.color1 Flight number
                                                span &nbsp;
                                                span.color1 #3835
                                            p.d-flex.text16.medium
                                                span.color1 Status
                                                span &nbsp;
                                                span.colorGreen On time
                                        .statusTableMobile__code
                                            .flCode
                                                svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                    path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                p
                                                    span.text12.colorBlack85 K6 - 3835 - 321
                                    .statusTableMobile__item
                                        .statusTableMobile__row
                                            .flInfo__trip
                                                .flInfo__item
                                                    .d-block
                                                        p.medium.color1.text18 15:35 HAN
                                                        p.text12.mb0.color1.medium Hanoi, Vietnam
                                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                                        p.text12.colorBlack55 Noi Bai
                                                        p.text12.colorBlack55 Terminal 1
                                                .flInfo__item
                                                    .stopBox
                                                        .stopBox__icon
                                                            svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                                .flInfo__item
                                                    .d-block
                                                        p.medium.color1.text18 17: 40 BKK
                                                        p.text12.mb0.color1.medium Bangkok, Thailand
                                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                                        p.text12.colorBlack55 Noi Bai
                                                        p.text12.colorBlack55 Terminal 1


                                            p.text14.mt15.mb15
                                                span.colorRed.medium 1 Stop
                                                span.colorBlack55.ml5 (SGN)
                                            p.d-flex.text16.medium
                                                span.color1 Flight number
                                                span &nbsp;
                                                span.color1 #3835
                                            p.d-flex.text16.medium
                                                span.color1 Status
                                                span &nbsp;
                                                span.colorGreen On time
                                        .statusTableMobile__code
                                            .flCode
                                                svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                    path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                p
                                                    span.text12.colorBlack85 K6 - 3835 - 321
                                    .statusTableMobile__item
                                        .statusTableMobile__row
                                            .flInfo__trip
                                                .flInfo__item
                                                    .d-block
                                                        p.medium.color1.text18 15:35 HAN
                                                        p.text12.mb0.color1.medium Hanoi, Vietnam
                                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                                        p.text12.colorBlack55 Noi Bai
                                                        p.text12.colorBlack55 Terminal 1
                                                .flInfo__item
                                                    .stopBox
                                                        .stopBox__icon
                                                            svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                                .flInfo__item
                                                    .d-block
                                                        p.medium.color1.text18 17: 40 BKK
                                                        p.text12.mb0.color1.medium Bangkok, Thailand
                                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                                        p.text12.colorBlack55 Noi Bai
                                                        p.text12.colorBlack55 Terminal 1


                                            p.text14.mt15.mb15
                                                span.colorRed.medium 1 Stop
                                                span.colorBlack55.ml5 (SGN)
                                            p.d-flex.text16.medium
                                                span.color1 Flight number
                                                span &nbsp;
                                                span.color1 #3835
                                            p.d-flex.text16.medium
                                                span.color1 Status
                                                span &nbsp;
                                                span.colorGreen On time
                                        .statusTableMobile__code
                                            .flCode
                                                svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                    path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                p
                                                    span.text12.colorBlack85 K6 - 3835 - 321
                                    .statusTableMobile__item
                                        .statusTableMobile__row
                                            .flInfo__trip
                                                .flInfo__item
                                                    .d-block
                                                        p.medium.color1.text18 15:35 HAN
                                                        p.text12.mb0.color1.medium Hanoi, Vietnam
                                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                                        p.text12.colorBlack55 Noi Bai
                                                        p.text12.colorBlack55 Terminal 1
                                                .flInfo__item
                                                    .stopBox
                                                        .stopBox__icon
                                                            svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                                .flInfo__item
                                                    .d-block
                                                        p.medium.color1.text18 17: 40 BKK
                                                        p.text12.mb0.color1.medium Bangkok, Thailand
                                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                                        p.text12.colorBlack55 Noi Bai
                                                        p.text12.colorBlack55 Terminal 1


                                            p.text14.mt15.mb15
                                                span.colorRed.medium 1 Stop
                                                span.colorBlack55.ml5 (SGN)
                                            p.d-flex.text16.medium
                                                span.color1 Flight number
                                                span &nbsp;
                                                span.color1 #3835
                                            p.d-flex.text16.medium
                                                span.color1 Status
                                                span &nbsp;
                                                span.colorGreen On time
                                        .statusTableMobile__code
                                            .flCode
                                                svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                    path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                p
                                                    span.text12.colorBlack85 K6 - 3835 - 321
                                    .statusTableMobile__item
                                        .statusTableMobile__row
                                            .flInfo__trip
                                                .flInfo__item
                                                    .d-block
                                                        p.medium.color1.text18 15:35 HAN
                                                        p.text12.mb0.color1.medium Hanoi, Vietnam
                                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                                        p.text12.colorBlack55 Noi Bai
                                                        p.text12.colorBlack55 Terminal 1
                                                .flInfo__item
                                                    .stopBox
                                                        .stopBox__icon
                                                            svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                                                .flInfo__item
                                                    .d-block
                                                        p.medium.color1.text18 17: 40 BKK
                                                        p.text12.mb0.color1.medium Bangkok, Thailand
                                                        p.text12.colorBlack55 Wed, 15 Jan 2020
                                                        p.text12.colorBlack55 Noi Bai
                                                        p.text12.colorBlack55 Terminal 1


                                            p.text14.mt15.mb15
                                                span.colorRed.medium 1 Stop
                                                span.colorBlack55.ml5 (SGN)
                                            p.d-flex.text16.medium
                                                span.color1 Flight number
                                                span &nbsp;
                                                span.color1 #3835
                                            p.d-flex.text16.medium
                                                span.color1 Status
                                                span &nbsp;
                                                span.colorGreen On time
                                        .statusTableMobile__code
                                            .flCode
                                                svg.svg1point5(width='24', height='19', viewBox='0 0 24 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M24 9.66457C23.8961 10.3295 23.8338 11.0152 23.6883 11.6802C22.8364 15.3789 19.7403 18.2464 15.9792 18.8282C11.6156 19.4931 7.5013 17.2074 5.77662 13.1347C5.67273 12.8853 5.56883 12.7815 5.25714 12.823C4.50909 12.9477 3.74026 13.0516 2.97143 13.1139C2.7013 13.1347 2.41039 13.0931 2.14026 13.01C1.53766 12.8022 0.976623 12.5529 0.394805 12.2828C0.249351 12.2204 0.124675 12.0957 0 11.9918C0.0207792 11.9711 0.0207792 11.9295 0.0415584 11.9087C0.768831 12.1165 1.47532 12.3243 2.2026 12.5113C2.36883 12.5529 2.55584 12.5737 2.72208 12.5529C5.83896 11.9503 8.93507 11.3269 12.0519 10.7035C12.1143 10.6828 12.1558 10.662 12.3221 10.6204C11.8857 10.3711 11.5117 10.2048 11.2 9.97626C10.7221 9.62301 10.2442 9.60223 9.66234 9.76847C8.18701 10.1841 6.69091 10.5373 5.15325 10.9113C5.11169 10.6412 5.04935 10.3918 5.02857 10.1425C4.92468 8.48015 5.21558 6.92171 5.9013 5.40483C6.04675 5.09314 6.21299 5.19704 6.4 5.28015C9.28831 6.50613 12.1766 7.71132 15.0649 8.9373C15.626 9.18665 16.2078 9.56067 16.7896 9.60223C17.3714 9.64379 17.9532 9.35288 18.5558 9.18665C20.1766 8.77106 21.8182 8.3347 23.439 7.91911C23.5429 7.89834 23.6468 7.87756 23.7922 7.85678C23.8545 8.35548 23.9169 8.81262 23.9792 9.26976C24 9.41522 24 9.53989 24 9.66457Z', fill='#662F8E')
                                                    path(d='M23.6054 7.1087C22.5248 6.7139 21.5067 6.92169 20.4677 7.2126C19.2002 7.56585 17.9326 7.89831 16.6651 8.23078C16.4781 8.27234 16.2495 8.27234 16.0625 8.21C13.4236 7.23338 10.7638 6.23598 8.12485 5.25935C7.79238 5.13468 7.41836 5.09312 7.04433 5.05156C6.7742 5.01 6.48329 5.05156 6.19238 5.05156C7.48069 2.24637 10.9716 -0.267919 15.0443 0.0229896C19.221 0.313899 23.1482 3.57624 23.6054 7.1087Z', fill='#662F8E')
                                                p
                                                    span.text12.colorBlack85 K6 - 3835 - 321
        include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/t-datepicker.min.js')
        script.
            $('.camNavbar__toggle').click(function () {
                $('.camNavbar__main').addClass('open');
            });

            $('.camNavbar__close, .camNavbar__backdrop').click(function () {
                $('.camNavbar__main').removeClass('open');
            });
            if (screen.width < 768) {
                $('.camNavbar__link').click(function () {
                    $(this).next('.subMenu__child').slideToggle(200);
                    $(this).parent('li').toggleClass('active');
                });
            };
            if (screen.width < 768) {
                $('.footer').css('background-image', 'url("images/footer-bg-mobile.jpg")')
            };

        script.
            $('.t-datepicker').tDatePicker({
                autoClose: true,
                titleCheckIn: 'Depart date',
                titleCheckOut: 'Return date',
                titleDateRange: 'day',
                titleDateRanges: 'days',
                iconDate: '<i class="fas fa-calendar-alt"></i>',
                iconArrowTop: false
            });

        script.
            // searchBox
            $(".searchBox__tab button").click(function () {
                var tab_id = $(this).parents('.searchBox__tab li').attr('data-tab');

                $('.searchBox__tab li').removeClass('active');
                $(this).parents('.searchBox__tab li').addClass('active');
                $('.searchBox__item').removeClass('open');
                $("#" + tab_id).addClass('open');
            });

            $(".searchBox__close button").click(function () {
                $('.searchBox__tab li').removeClass('active');
                $('.searchBox__item').removeClass('open');
            });
            $(".inputSvg .form-control").click(function () {
                $(this).parents('.form-group').find('.suggestPlace').addClass('open');
            });
            $(document).mouseup(function (e) {
                var suggestPlace = $('.suggestPlace');
                if (!suggestPlace.is(e.target) && suggestPlace.has(e.target).length === 0) {
                    $('.suggestPlace').removeClass('open');
                }
                ;
            });
            $(".btnPromotion").click(function () {
                $('.searchBox__promotion').addClass('show');
                $(this).addClass('hidden');
            });

            $("#fl1").click(function () {
                $('.noMulti').removeClass('hidden');
                $('.multi').addClass('hidden');
                $('#return').removeClass('hidden');
            });
            $("#fl2").click(function () {
                $('.noMulti').removeClass('hidden');
                $('.multi').addClass('hidden');
                $('#return').addClass('hidden');
            });
            $("#fl3").click(function () {
                $('.noMulti').addClass('hidden');
                $('.multi').removeClass('hidden');
            });
            $("#r1").click(function () {
                $('.route').removeClass('hidden');
                $('.flightNumber').addClass('hidden');
            });
            $("#r2").click(function () {
                $('.route').addClass('hidden');
                $('.flightNumber').removeClass('hidden');
            });





