.flTicket__row
    .flTicket__left
        .flInfo
            .flInfo__trip
                .flInfo__item
                    .d-block
                        p.medium.color1.text18 15:35 HAN
                        p.text12.mb0.color1.medium Hanoi, Vietnam
                .flInfo__item
                    .stopBox
                        .stopBox__icon
                            svg.svg1(width='24', height='20', viewBox='0 0 24 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M19.1117 7.75C18.9842 7.75 18.4348 7.75375 18.2366 7.76453L15.5286 7.83578L9.28391 0.25H6.33969L9.8361 7.96609L5.27469 8.03359L3.19907 5.5H0.756411L1.7225 9.91469C1.72954 9.94 1.73797 9.96484 1.74735 9.98922C1.74804 9.99151 1.74804 9.99396 1.74735 9.99625C1.73774 10.0205 1.72944 10.0452 1.7225 10.0703L0.743286 14.5H3.17047L5.30094 11.9219L9.83704 12.0236L6.33922 19.75H9.29235L15.5267 12.168L18.2347 12.2402C18.4358 12.2509 18.9847 12.2547 19.1094 12.2547C20.2508 12.2547 21.1845 12.0981 21.8848 11.7887C23.0727 11.2656 23.2498 10.4434 23.2498 10C23.2498 8.59094 21.703 7.75 19.1117 7.75Z', fill='#0E61D7', fill-opacity='0.4')
                        .stopBox__text
                            p 02h05m
                            p.medium.mb0
                                span.colorGreen None Stop
                .flInfo__item
                    .d-block
                        p.medium.color1.text18 17: 40 BKK
                        p.text12.mb0.color1.medium Bangkok, Thailand

            .flInfo__flex
                ul
                    li
                        .airlineInfo
                            .airlineInfo__logo
                                img(src='images/logo-vnairline.png')
                                span VN 233
                button.viewMore.viewDetail(type='button')
                    span More details
    .flTicket__right
        .priceBox
            .priceBox__cont
                .priceBox__check
                    svg.svg1(width='20', height='17', viewBox='0 0 20 17', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.00004 16.4199L0.790039 10.2099L3.62004 7.37988L7.00004 10.7699L16.88 0.879883L19.71 3.70988L7.00004 16.4199Z', fill='white')

                p.p1
                    | USD
                    strong 418.11
                p.p2 3 Seats left
                .priceBox__label
                    svg.svg1(width='10', height='10', viewBox='0 0 10 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.5 1.75C7.5 1.55109 7.57902 1.36032 7.71967 1.21967C7.86032 1.07902 8.05109 1 8.25 1C8.44891 1 8.63968 1.07902 8.78033 1.21967C8.92098 1.36032 9 1.55109 9 1.75C9 1.94891 8.92098 2.13968 8.78033 2.28033C8.63968 2.42098 8.44891 2.5 8.25 2.5C8.05109 2.5 7.86032 2.42098 7.71967 2.28033C7.57902 2.13968 7.5 1.94891 7.5 1.75ZM5.21 9.705L9.71 5.205C9.89 5.025 10 4.775 10 4.5V1C10 0.445 9.555 0 9 0L5.5 0C5.225 0 4.975 0.11 4.795 0.295L0.295 4.79C0.115 4.975 0 5.225 0 5.5C0 5.775 0.115 6.025 0.295 6.205L3.795 9.705C3.975 9.89 4.225 10 4.5 10C4.78 10 5.03 9.885 5.21 9.705Z', fill='#E34A13')
        .priceBox
            .priceBox__cont
                p.p3 Sold out
        .priceBox
            .priceBox__cont
                .priceBox__check
                    svg.svg1(width='20', height='17', viewBox='0 0 20 17', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.00004 16.4199L0.790039 10.2099L3.62004 7.37988L7.00004 10.7699L16.88 0.879883L19.71 3.70988L7.00004 16.4199Z', fill='white')
                p.p1
                    | USD
                    strong 418.11
                p.p2 3 Seats left
        .priceBox
            .priceBox__cont
                .priceBox__check
                    svg.svg1(width='20', height='17', viewBox='0 0 20 17', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.00004 16.4199L0.790039 10.2099L3.62004 7.37988L7.00004 10.7699L16.88 0.879883L19.71 3.70988L7.00004 16.4199Z', fill='white')
                p.p1
                    | USD
                    strong 418.11
                p.p2 3 Seats left
        .priceBox
            .priceBox__cont
                p.p3 Sold out