.frequentBox{
  display: none;
  &__cont{
    @include breakpoint(xs){
      margin-top: 15px;
    }
    @include breakpoint(sm){
      display: flex;
      margin: 1vw -1vw 0;
    }
    > .d-block{
      @include breakpoint(sm){
        padding: 0 1vw;
      }
    }
  }
}
.flightPassenger{
  &__main{
    padding: 30px 0;
    @include breakpoint(sm){
      padding: 3vw 0;
    }
  }
}
.modal-tips{
  @include breakpoint(lg){
    max-width: 50%;
  }
}
.tipsBox{
  &__item{
    background: rgba(242, 216, 248, .15);
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 0 15px;
    @include breakpoint(sm){
      margin-bottom: 1vw;
      padding: 0 1vw;
    }
  }
  &__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: $purple;
    width: 100%;
    font-weight: 500;
    padding: 15px 0;
    @include breakpoint(sm){
      font-size: 1.1vw;
      padding: 1vw 0;
    }
  }
  &__body{
    padding-top: 15px;
    display: none;
    @include breakpoint(sm){
      padding-top: 1vw;
    }
    .form-group{
      > label{
        font-weight: 400;
      }
    }
  }
  &__cont{}
}