.flightStatus{
  &__search{
    background-color: #fff;
    padding: 30px 0;
    @include breakpoint(sm){
      padding: 2vw 0;
    }
    .searchBox{
      margin-bottom: 30px;
      @include breakpoint(sm){
        margin-bottom: 2vw;
      }
      &__item{
        background-color: #fff;
        box-shadow: $shadow;
        @include breakpoint(xs){
          position: initial;
          padding: 15px 8px 30px;
          overflow: initial;
        }
      }
      &__radio{
        .radio{
          label{
            color: $black85;
          }
        }
      }
    }
  }
  &__body{
    padding: 30px 0;
    @include breakpoint(sm){
      padding: 3vw 0;
    }
  }
  &__desktop{
    @include breakpoint(xs){
      display: none;
    }
  }
  &__mobile{
    @include breakpoint(sm){
      display: none;
    }
  }
}
.statusTable{
  &__header{
    background-color: $color-1;
    display: flex;
    align-items: center;
    height: 3.5vw;
    margin-bottom: .5vw;
    box-shadow: $shadow;
    border-radius: 4px 4px 0 0;
    position: sticky;
    top: 0;
    z-index: 3;
    p{
      flex: 1;
    }
  }
  &__body{}
  &__item{
    box-shadow: $shadow;
    background-color: #fff;
    margin-bottom: .5vw;
  }
  &__row{
    display: flex;
    .statusTable__number{
      border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
  &__code{
    background-color: rgba(14, 97, 215, 0.08);
    padding: 1vw;
  }
  &__number{
    width: 15%;
    padding: 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__trip{
    width: 40%;
    display: flex;
    padding: 0 1vw;
    .flInfo{
      &__trip{
        width: 100%;
        padding: 1vw 0;
      }
    }
  }
  &__stop{
    width: 15%;
    padding: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    p{
      width: 100%;
    }
  }
  &__time{
    width: 30%;
    padding: 0 1vw;
    display: flex;
    align-items: center;
  }
}

.statusTableMobile{
  &__header{
    background-color: $color-1;
    box-shadow: $shadow;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-radius: 4px 4px 0 0;
    position: sticky;
    top: 0;
    z-index: 3;
    > p {
      flex: 1;
      padding: 0 10px;
    }
  }
  &__body{}
  &__item{
    background-color: #fff;
    box-shadow: $shadow;
    margin-bottom: 5px;
    .flInfo{
      &__trip{
        align-items: center;
      }
      &__item{
        &:nth-child(1),
        &:nth-child(3){
          flex: 1 1 35%;
        }
        &:nth-child(2){
          flex: 1 1 30%;
        }
      }
    }
  }
  &__row{
    padding: 15px 10px 22px;
    p.d-flex{
      margin: 0 -10px;
      span{
        flex: 1;
        padding: 0 10px;
        white-space: nowrap;
      }
    }
  }
  &__code{
    background-color: rgba(14, 97, 215, 0.08);
    padding: 10px;
  }
}