.homeBanner {
  position: relative;
  @include breakpoint(xs) {
    margin-bottom: 30px;
  }
  @include breakpoint(sm) {
    padding: 10vw 0;
    margin-bottom: 4vw;
  }

  &__img {
    background: rgba(2, 27, 103, .5);
    @include breakpoint(xs) {
      width: 100%;
      height: 256px;
    }
    @include breakpoint(sm) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: multiply;
    }
  }

  &__title {
    text-align: center;
    color: #fff;
    @include breakpoint(xs) {
      margin-top: -200px;
      margin-bottom: 30px;
    }
    @include breakpoint(sm) {
      margin-bottom: 2vw;
    }

    h1 {
      @include breakpoint(xs) {
        font-size: 20px;
      }
    }

    p {
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 0;
      @include breakpoint(sm) {
        font-size: 1.1vw;
        margin-top: 1vw;
      }
    }
  }

  .container {
    position: relative;
  }

  .flightCheap & {
    @include breakpoint(sm) {
      margin-bottom: 1vw;
    }
  }
}

.offersBox {
  margin-bottom: 30px;
  @include breakpoint(sm) {
    margin-bottom: 4vw;
  }

  &__slide {
    @include breakpoint(xs) {
      padding-bottom: 40px;
    }
    @include breakpoint(sm) {
      margin: 0 -1vw;
    }

    .slick-dots {
      @include breakpoint(sm) {
        display: none !important;
      }
    }

    .slick-arrow {
      @include breakpoint(xs) {
        display: none !important;
      }
    }
  }

  &__col {
    padding: 5px;
    @include breakpoint(sm) {
      padding: 1vw;
    }
  }

  &__item {
    box-shadow: $shadow;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    height: 160px;
    @include breakpoint(sm) {
      margin-bottom: 2vw;
      height: 11vw;
    }
  }

  &__img {
    display: block;
    width: 100%;
    @include breakpoint(sm) {
      height: 13vw;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.1);
          transition-timing-function: ease-out;
          transition-duration: 2s;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .4s;
    }
  }

  &__cont {
    padding: 15px;
    width: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint(sm) {
      padding: 1vw;
    }
  }

  &__link {
    font-size: 18px;
    color: $black85;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    @include breakpoint(sm) {
      font-size: 1.2vw;
      margin-bottom: .5vw;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__line {

  }

  &__icon {
    font-size: 14px;
    color: $black55;
    @include breakpoint(sm) {
      font-size: 1vw;
    }

    svg, span {
      vertical-align: middle;
    }

    span {
      margin-left: 10px;
      @include breakpoint(sm) {
        margin-left: .5vw;
      }
    }
  }

  &__price {
    font-size: 14px;
    color: $color-1;
    text-align: right;
    font-weight: 500;
    @include breakpoint(sm) {
      font-size: 1vw;
    }

    svg, span {
      vertical-align: middle;
    }

    span {
      margin-left: 10px;
      @include breakpoint(sm) {
        margin-left: .5vw;
      }
    }
  }

  &__more {
    @include breakpoint(xs) {
      padding: 15px 0;
      border-bottom: 1px solid $black25;
      border-top: 1px solid $black25;
    }
    @include breakpoint(sm) {
      display: flex;
      justify-content: flex-end;
    }

    .viewMore {
      @include breakpoint(xs) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &.rotate {
        svg {
          transform: rotate(180deg);
        }
      }

      svg {
        transition: all .3s;
      }
    }
  }

  &__featured {
    padding: 30px 0 0;
    display: none;
    @include breakpoint(sm) {
      padding: 4vw 0 0;
    }

    ul {
      @include breakpoint(sm) {
        display: flex;
        flex-wrap: wrap;
      }

      li {
        @include breakpoint(sm) {
          width: 25%;
          padding: 0 1vw;
        }

        a {
          font-size: 14px;
          color: #318FDB;
          display: inline-flex;
          align-items: center;
          padding: 5px 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
          display: block;
          @include breakpoint(sm) {
            font-size: 1vw;
            padding: .5vw 0;
            &:hover {
              color: #318FDB;

              span {
                text-decoration: underline;
              }
            }
          }

          span {
            margin-left: 10px;
            @include breakpoint(sm) {
              margin-left: .8vw;
            }
          }
        }
      }
    }
  }
}

.destination {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.85);
  background-blend-mode: screen;
  padding: 40px 0;
  @include breakpoint(sm) {
    padding: 4vw 0;
  }

  &__item {
    display: block;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background-image: linear-gradient(to bottom,rgba(2,27,103,0),rgb(2, 27, 103));
    @include breakpoint(xs) {
      height: 360px;
      width: 75vw;
    }
    @include breakpoint(sm) {
      width: 100%;
      height: 100%;
      &:hover {
        img {
          transform: scale(1.1);
          transition-timing-function: ease-out;
          transition-duration: 2s;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
      display: block;
      transition: all .4s;
      mix-blend-mode: multiply;
    }
  }

  &__cont {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    @include breakpoint(sm) {
      bottom: 1vw;
      left: 2vw;
      right: 2vw;
    }

    h4 {
      color: #fff;
      margin-bottom: 5px;
      @include breakpoint(sm) {
        margin-bottom: .5vw;
      }
    }

    p {
      color: #fff;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include breakpoint(sm) {
        font-size: 1vw;
      }
    }
  }

  &__row {
    @include breakpoint(xs){
      display: flex;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      margin-left: -15px;
      padding-left: 15px;
    }
    @include breakpoint(sm) {
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 27vw;
      margin: 0 -1vw;
    }
  }

  &__col {
    @include breakpoint(xs){
      padding-right: 15px;
    }
    @include breakpoint(sm) {
      padding: 1vw;

      &:nth-child(1) {
        width: 50%;
        height: 100%;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 25%;
        height: 50%;
      }
    }
  }
}
.servicesBox {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.85);
  background-blend-mode: screen;
  padding: 30px 0;
  @include breakpoint(sm) {
    padding: 4vw 0;
  }

  &__item {
    display: block;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background-image: linear-gradient(to bottom,rgba(2,27,103,0),rgb(2, 27, 103));
    @include breakpoint(xs) {
      height: 240px;
      width: 75vw;
    }
    @include breakpoint(sm) {
      width: 100%;
      height: 100%;
      &:hover {
        img {
          transform: scale(1.1);
          transition-timing-function: ease-out;
          transition-duration: 2s;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
      display: block;
      transition: all .4s;
      mix-blend-mode: multiply;
    }
  }

  &__cont {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    @include breakpoint(sm) {
      bottom: 1vw;
      left: 2vw;
      right: 2vw;
    }

    h4 {
      color: #fff;
      margin-bottom: 5px;
      @include breakpoint(sm) {
        margin-bottom: .5vw;
      }
    }

    p {
      color: #fff;
      font-size: 14px;
      @include breakpoint(sm) {
        font-size: 1vw;
      }
    }
  }

  &__row {
    @include breakpoint(xs){
      display: flex;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      margin-left: -15px;
      padding-left: 15px;
    }
    @include breakpoint(sm) {
      overflow: hidden;
      height: 33.5vw;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  &__col {
    @include breakpoint(xs){
      padding-right: 15px;
    }
    @include breakpoint(sm) {
      width: 25%;
      padding: 1vw;
      &:nth-child(1){
        @include breakpoint(sm){

        }
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(6),{
        @include breakpoint(sm){
          height: 50%;
        }
      }
      &:nth-child(3),
      &:nth-child(4){
        @include breakpoint(sm){
          height: 100%;
        }
      }
    }
  }
}

.promoBanner {
  &__row{
    @include breakpoint(sm){
      display: flex;
    }
  }
  &__img{
    @include breakpoint(xs){
      height: 250px;
      width: 100%;
    }
    @include breakpoint(sm){
      width: 50%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__cont {
    background-color: $color-1;
    @include breakpoint(xs){
      text-align: center;
      padding: 30px 24px;
    }
    @include breakpoint(sm){
      width: 50%;
      padding: 3vw 2vw;
    }
    p {
      font-weight: 500;
      color: #fff;

      &.p1 {
        font-size: 14px;
        text-transform: uppercase;
        @include breakpoint(sm) {
          font-size: 1vw;
        }
      }

      &.p2 {
        font-size: 20px;
        text-transform: uppercase;
        margin: 10px 0;
        @include breakpoint(sm) {
          margin: .7vw 0;
          font-size: 1.5vw;
        }
      }

      &.p3 {
        font-weight: 400;
        font-size: 16px;
        @include breakpoint(sm) {
          font-size: 1.1vw;
        }
      }
    }

    .btn {
      width: 170px;
      margin: 15px auto 0;
      @include breakpoint(sm) {
        width: 13vw;
        margin-top: 1vw;
      }
    }
  }
}

.appBox {
  &__row{
    @include breakpoint(sm){
      display: flex;
    }
  }
  &__main{
    background-color: $color-1;
    @include breakpoint(xs){
      padding: 30px 15px;
    }
    @include breakpoint(sm){
      display: flex;
      justify-content: flex-end;
      width: 50%;
      padding: 5vw 2vw;
    }
  }
  &__cont {
    @include breakpoint(sm){
      padding-left: 1vw;
      width: 330px;
    }
    @include breakpoint(md){
      width: 375px;
    }
    @include breakpoint(lg){
      width: 80%;
    }
    > p {
      letter-spacing: .3px;
      color: #fff;
    }
    > h2 {
      color: #fff;
      @include breakpoint(xs) {
        text-align: center;
      }
    }
  }

  &__group {
    @include breakpoint(xs) {
      margin-bottom: 30px;
    }
    @include breakpoint(sm) {
      display: flex;
    }
  }

  &__line {
    display: flex;
    align-items: center;
    @include breakpoint(xs) {
      justify-content: center;
      border-bottom: 1px solid #fff;
      margin: 15px 0 25px 0;
    }
    @include breakpoint(sm) {
      margin: 0 2.5vw 0 2vw;
      border-right: 1px solid #fff;
    }

    span {
      color: #fff;
      background-color: $color-1;
      @include breakpoint(xs) {
        font-size: 14px;
        padding: 0 15px;
        margin-bottom: -10px;
      }
      @include breakpoint(sm) {
        font-size: 1vw;
        padding: .5vw 0;
        margin-right: -.5vw;
      }
    }
  }

  &__download {
    display: flex;
    align-items: center;
    @include breakpoint(xs) {
      justify-content: center;
    }
  }

  &__logo {
    background-color: #fff;
    border-radius: 4px;
    @include breakpoint(xs) {
      margin-right: 15px;
      padding: 5px;
    }
    @include breakpoint(sm) {
      margin-right: 1vw;
      padding: .5vw;
    }

    a {
      display: block;
      margin-bottom: 15px;
      @include breakpoint(sm) {
        margin-bottom: 1vw;
      }

      &:last-child {
        margin-bottom: 0;
      }

      img {
        width: 105px;
        display: block;
        @include breakpoint(sm) {
          width: 6.5vw;
        }
      }
    }
  }

  &__qrcode {
    a {
      display: block;

      img {
        width: 95px;
        display: block;
        @include breakpoint(sm) {
          width: 6.5vw;
        }
      }
    }
  }

  &__img {
    @include breakpoint(xs){
      height: 300px;
    }
    @include breakpoint(sm) {
      width: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.home {
  background-color: #fff;
}
