.flightList__desktop
    .flTicket
        .flTicket__header
            .flTicket__left
                .flTicket__th.bgBlue1
                    span.text20 Flight Infomation
            .flTicket__right
                .flTicket__col
                    .flTicket__th.bgBlue2
                        span Eco Promotion
                .flTicket__col
                    .flTicket__th.bgBlue3
                        span Economy Saver
                .flTicket__col
                    .flTicket__th.bgBlue4
                        span Economy
                .flTicket__col
                    .flTicket__th.bgBlue5
                        span Premium Economy
                .flTicket__col
                    .flTicket__th.bgBlue6
                        span Business
        .flTicket__body
            .flTicket__item
                include blocks/flTicket__row
                include blocks/flDetail
            .flTicket__item
                include blocks/flTicket__row
                include blocks/flDetail
            .flTicket__item
                include blocks/flTicket__row
                include blocks/flDetail
            .flTicket__item
                include blocks/flTicket__row
                include blocks/flDetail
            .flTicket__item
                include blocks/flTicket__row
                include blocks/flDetail
