.placeGroup{
  display: flex;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 48px;
  padding: 0 15px;
  @include breakpoint(xs){
    position: relative;
  }
  @include breakpoint(sm){
    height: 3.3vw;
    padding: 0 1vw;
  }
  .form-group{
    margin-bottom: 0;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include breakpoint(sm){
      position: relative;
    }
    > label{
      color: rgba(0, 0, 0, 0.45);
      font-size: 12px;
      margin-bottom: 0;
      font-weight: 400;
      width: 100%;
      @include breakpoint(sm){
        font-size: .9vw;
      }
    }
  }
  .form-control{
    background: transparent;
    border: none;
    height: auto;
    border-radius: 0;
    padding: 0;
    color: $color-1;
    font-weight: 500;
    &::-webkit-input-placeholder {color:#021b674d;}
    &::-moz-placeholder {color:#021b674d;}
    &:-ms-input-placeholder {color:#021b674d;}
    &:-moz-placeholder {color:#021b674d;}
  }
  .btnRound{
    padding: 0 15px;
    @include breakpoint(sm){
      padding: 0 1vw;
    }
    svg{
      display: block;
    }
  }
  .inputSvg .svgArrow{
    top: -3px;
    @include breakpoint(sm){
      top: -.3vw;
    }
  }
}
.passengerBox{
  display: flex;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 48px;
  @include breakpoint(sm){
    height: 3.3vw;
  }
  &__item{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    @include breakpoint(sm){
      padding: .5vw 1vw;
    }
  }
  &__text{
    width: 65%;
    padding-right: 15px;
    @include breakpoint(sm){
      padding-right: 1vw;
    }
    .medium{
      color: $color-1;
    }
  }
  &__action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    button{
      width: 30px;
      height: 30px;
      background-color: $color-2;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint(sm){
        width: 2vw;
        height: 2vw;
      }
      &.disabled{
        pointer-events: none;
        opacity: .5;
      }
    }
    p{
      color: $color-1;
      font-weight: 500;
    }
  }
  &__note{
    text-align: right;
    font-size: 12px;
    color: $color-4;
    padding: 5px 15px;
    @include breakpoint(sm){
      font-size: .8vw;
      padding: .5vw 1vw;
    }
  }
  .form-group{
    margin-bottom: 0;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include breakpoint(sm){
      position: relative;
    }
    > label{
      color: rgba(0, 0, 0, 0.45);
      font-size: 12px;
      margin-bottom: 0;
      font-weight: 400;
      width: 100%;
      padding: 0 15px;
      @include breakpoint(sm){
        font-size: .9vw;
        padding: 0 1vw;
      }
    }
  }
  .dropdown{
    width: 100%;
  }
  .dropdown-toggle{
    background: transparent;
    border: none;
    height: auto;
    border-radius: 0;
    padding: 0 15px;
    color: $color-1;
    width: 100%;
    font-weight: 500;
    @include breakpoint(sm){
      padding: 0 1vw;
    }
    &:after{
      display: none;
    }
    .svgArrow{
      position: absolute;
      margin: 0;
      @include breakpoint(xs){
        top: -3px;
        right: 15px;
      }
      @include breakpoint(sm){
        top: -.2vw;
        right: 1vw;
      }
    }
  }
  .dropdown-menu{
    transform: none!important;
    top: 100% !important;
    right: 0!important;
    left: 0!important;
    min-width: 100%;
    margin: 0;
  }
}
.promotionBox{
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 48px;
  padding: 0 15px;
  @include breakpoint(sm){
    height: 3.3vw;
    padding: 0 1vw;
  }
  .form-group{
    margin-bottom: 0;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > label{
      color: rgba(0, 0, 0, 0.45);
      font-size: 12px;
      margin-bottom: 0;
      font-weight: 400;
      width: 100%;
      @include breakpoint(sm){
        font-size: .9vw;
      }
    }
  }
  .form-control{
    background: transparent;
    border: none;
    height: auto;
    border-radius: 0;
    padding: 0;
    color: $color-1;
    font-weight: 500;
    &::-webkit-input-placeholder {color:#021b674d;}
    &::-moz-placeholder {color:#021b674d;}
    &:-ms-input-placeholder {color:#021b674d;}
    &:-moz-placeholder {color:#021b674d;}
  }
}
.searchBox{
  &__tab{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include breakpoint(xs){
      background-color: #fff;
      box-shadow: $shadow;
      border-radius: 4px;
    }
    @include breakpoint(sm){
      justify-content: center;
      margin-bottom: 1vw;
    }
    li{
      @include breakpoint(xs){
        width: 50%;
      }
      @include breakpoint(sm){
        padding: 0 1.5vw;
      }
      &.active{
        button{
          .spanIcon{
            background-color: $color-2;
          }
        }
      }
    }
    button{
      font-weight: 500;
      text-transform: uppercase;
      @include breakpoint(xs){
        width: 100%;
        font-size: 14px;
        position: relative;
        padding: 15px 5px;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        border-right: 1px solid rgba(0, 0, 0, 0.06);
      }
      @include breakpoint(sm){
        display: inline-flex;
        align-items: center;
        color: #fff;
        font-size: 1vw;
        height: 3.3vw;
        &:hover{
          span{
            text-decoration: underline;
          }
        }
      }
      span{
        &.spanIcon{
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          @include breakpoint(xs){
            width: 36px;
            height: 36px;
            background-color: $color-2;
            margin: 0 auto 10px;
          }
          @include breakpoint(sm){
            width: 2.5vw;
            height: 2.5vw;
            margin-right: .5vw;
          }
        }
      }
    }
    .flightCheap & {
      @include breakpoint(sm){
        display: none;
      }
    }
  }
  &__item{
    @include breakpoint(xs){
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      padding: 15px 15px 30px;
      background-color: #fff;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      transition: all .3s ease-in-out;
      transform: translateX(-100%);
      visibility: hidden;
    }
    @include breakpoint(sm){
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      padding: 1vw 2vw;
      display: none;
      animation: opacityShow .2s ease-in-out;
    }
    &.open{
      @include breakpoint(xs){
        transform: none;
        visibility: visible;
      }
      @include breakpoint(sm){
        display: block;
      }
    }
    .flightCheap & {
      @include breakpoint(sm){
        border-radius: 4px;
      }
    }
  }
  &__radio{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    @include breakpoint(sm){
      margin-bottom: 1vw;
    }
    &.radioTransparent{
      .radio{
        label{
          @include breakpoint(sm){
            color: #fff;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      .radio input[type=radio]+label:before{
        @include breakpoint(sm){
          background-color: transparent;
          border-color: #fff;
        }
      }
      .radio input[type=radio]:checked+label:before{
        @include breakpoint(sm){
          background-color: $orange-1!important;
        }
      }
    }
    .radio{
      +.radio{
        @include breakpoint(xs){
          margin-left: 15px;
        }
        @include breakpoint(sm){
          margin-left: 3vw;
        }
      }
    }
  }
  &__form{
    @include breakpoint(xs){
      position: relative;
    }
    @include breakpoint(sm){
      display: flex;
      flex-wrap: wrap;
      margin: 0 -.7vw;
    }
    &.selected{
      position: relative;
      @include breakpoint(xs){
        padding-right: 39px;
      }
      .btnRound{
        @include breakpoint(xs){
          right: 39px;
        }
      }
      .t-datepicker{
        cursor: not-allowed!important;
        .t-dates{
          pointer-events: none;
          opacity: .5;
        }
      }
    }

  }
  &__place{
    @include breakpoint(xs){
      margin-bottom: 15px;
    }
    @include breakpoint(sm){
      padding: 0 .7vw;
      margin-bottom: 1.4vw;
      width: 50%;
    }
  }
  &__datepicker{
    @include breakpoint(sm){
      width: 50%;
    }
  }
  &__passenger{
    @include breakpoint(xs){
      margin-bottom: 15px;
    }
    @include breakpoint(sm){
      width: 37.5%;
      padding: 0 .7vw;
    }
  }
  &__promotion{
    @include breakpoint(xs){
      margin-bottom: 15px;
    }
    @include breakpoint(sm){
      width: 37.5%;
      padding: 0 .7vw;
    }
  }
  &__btn{
    @include breakpoint(sm){
      width: 25%;
      padding: 0 .7vw;
    }
    .btn{
      width: 100%;
      text-transform: uppercase;
    }
  }
  &__close{
    text-align: right;
    margin-bottom: 15px;
    @include breakpoint(sm){
      display: none;
    }
  }
  &__add{
    margin-bottom: 15px;
  }
  &__remove{
    @include breakpoint(xs){
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }
    @include breakpoint(sm){
      padding: 0 .7vw;
      position: absolute;
      right: 20%;
      top: 0;
    }
    @include breakpoint(md){
      top: .8vw;
    }
    button{
      @include breakpoint(xs){
        border-radius: 4px;
        background: $color-1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
        box-shadow: $shadow;
      }
      svg{
        @include breakpoint(xs){
          width: 14px;
          height: 14px;
          path{
            fill: #fff;
          }
        }
      }
    }
  }
  &__booking{
    .formMerge{
      @include breakpoint(xs){
        margin-bottom: 15px;
      }
      @include breakpoint(sm){
        width: 37.5%;
        padding: 0 .7vw;
      }
    }
    > p {
      @include breakpoint(xs){
        color: $black65;
      }
    }
  }
  &__schedules{
    .searchBox__datepicker{
      @include breakpoint(sm){
        width: 25%;
      }
      .t-datepicker__col{
        @include breakpoint(sm){
          width: 100%;
        }
      }
    }
    > p{
      @include breakpoint(xs){
        color: $color-1;
      }
    }
  }
  &__status{
    .searchBox__datepicker{
      @include breakpoint(sm){
        width: 25%;
      }
      .t-datepicker__col{
        @include breakpoint(sm){
          width: 100%;
        }
      }
    }
    .formMerge{
      @include breakpoint(sm){
        width: 50%;
        padding: 0 .7vw;
        margin-bottom: 1.4vw;
      }
    }
  }
  &__dropdown{
    @include breakpoint(xs){
      margin-bottom: 15px;
    }
    @include breakpoint(sm){
      width: 25%;
    }
    .form-group{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      height: 48px;
      margin-bottom: 0;
      @include breakpoint(sm){
        height: 3.3vw;
      }
      > label{
        color: rgba(0, 0, 0, 0.45);
        font-size: 12px;
        margin-bottom: 0;
        font-weight: 400;
        width: 100%;
        padding: 0 15px;
        @include breakpoint(sm){
          font-size: .9vw;
          padding: 0 1vw;
        }
      }
    }
    .dropdown{
      width: 100%;
    }
    .dropdown-toggle{
      background: transparent;
      border: none;
      height: auto;
      border-radius: 0;
      padding: 0 15px;
      color: $color-1;
      width: 100%;
      font-weight: 500;
      @include breakpoint(sm){
        padding: 0 1vw;
      }
      &:after{
        display: none;
      }
      .svgArrow{
        position: absolute;
        top: -3px;
        right: 0;
        @include breakpoint(sm){
          top: -.2vw;
        }
      }
    }
    .dropdown-menu{
      min-width: 100%;
      transform: none!important;
      top: 100% !important;
    }
  }
}

.suggestDefault{
  width: 50vw;
  background-color: #fff;
  box-shadow:0 0 8px rgba(0, 0, 0, 0.15);
  border-bottom: 4px solid $purple;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: .7vw;
  z-index: 10;
  display: none;
  &.open{
    display: block;
  }
  &__header{
    background-color: #f2f2f2;
    padding: .8vw 1vw;
    h5{
      color: #878787;
      font-weight: 400;
      font-size: .8vw;
    }
  }
  &__body{
    display: flex;
  }
  &__tab{
    width: 13vw;
    li{
      width: 100%;
      &:last-child{
        button{
          border: none;
        }
      }
      &.active{
        button{
          background: $purple;
          color: #fff;
        }
      }
      button{
        background: #F2D8F8;
        text-transform: uppercase;
        font-size: 1vw;
        font-weight: 500;
        color: $purple;
        display: block;
        padding: 1vw;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #fff;
      }
    }
  }
  &__content{
    width: calc(100% - 13vw);
    //max-height: 30vw;
    //overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width:3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 33.333%;
      button{
        font-size: 1vw;
        padding: 1vw;
        color: $black85;
        width: 100%;
        text-align: left;
        transition: all .1s;
        &:hover{
          color: $orange;
        }
      }
    }
  }
}
.suggestPlace{
  background-color: #fff;
  box-shadow: $shadow;
  position: absolute;
  top: 100%;
  z-index: 10;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  display: none;
  @include breakpoint(xs){
    width: 100%;
    left: 0;
    max-height: 400px;
  }
  @include breakpoint(sm){
    width: 25vw;
    left: 0;
    max-height: 30vw;
    top: 100%;
    &::-webkit-scrollbar {
      width:4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 16px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background:#bcbcbc;
      border-radius: 16px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #bcbcbc;
    }
  }
  &.open{
    display: block;
  }
  &.suggestPlace_little{
    @include breakpoint(sm){
      width: 60vw;
    }
  }
  &__list{
    li{
      &.liTitle{
        background-color: $color-1;
        padding: 10px 15px;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        @include breakpoint(sm){
          padding: .5vw 1vw;
          font-size: 1vw;
        }
      }
      button{
        font-size: 14px;
        color: #000;
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include breakpoint(sm){
          font-size: 1vw;
          padding: .5vw 1vw;
          transition: .2s;
          &:hover{
            color: $color-2;
          }
        }
        span{
          &.span2{
            text-transform: uppercase;
          }
        }
      }
    }
  }
  &__group{
    @include breakpoint(xs){
      padding-top: 15px;
    }
    @include breakpoint(sm){
      display: flex;
      margin: 0 -1vw;
      padding-top: 1vw;
    }
  }
  &__col{
    @include breakpoint(sm){
      width: 20%;
      padding: 0 1vw;
    }
  }
  &__item{
    li{
      &.liTitle{
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: $color-1;
        padding: 5px 15px;
        @include breakpoint(sm){
          font-size: 1vw;
          padding: .5vw 1vw;
        }
      }
      a{
        font-size: 14px;
        color: $black85;
        transition: all .2s;
        display: block;
        padding: 3px 15px;
        @include breakpoint(sm){
          font-size: 1vw;
          padding: .3vw 1vw;
        }
        &:hover{
          color: $color-2;
        }
      }
    }
  }
}
#return{
  &.disabled{
    cursor: not-allowed;
    opacity: .3;
    .inputSvg{
      pointer-events: none;
    }
  }

}