.flCode {
  display: flex;
  align-items: center;

  svg {
    margin-right: 15px;
    @include breakpoint(sm) {
      margin-right: 1vw;
    }
  }
}

.textTrip {
  display: flex;

  .d-svg {
    margin: 0 15px;
    @include breakpoint(sm) {
      margin: 0 2vw;
    }
  }
}

.flightHeader {
  @include breakpoint(xs) {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 16px 0;
  }
  @include breakpoint(sm) {
    background-color: #fff;
    box-shadow: $shadow;
    padding: 1vw 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.flightStep {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
  @include breakpoint(xs) {
    display: none;
  }

  &__item {
    display: flex;
    align-items: center;

    &.active {
      .flightStep__numb {
        background-color: $color-2;
        color: #fff;
      }

      .flightStep__text {
        color: $color-2;
      }
    }
  }

  &__numb {
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 50%;
    background-color: $color-1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-weight: 500;
  }

  &__text {
    font-size: 1vw;
    font-weight: 500;
    color: $color-1;
    margin-left: .5vw;
    flex: 1;
  }
}

.flightStepMobile {
  font-size: 14px;
  color: $color-2;
  font-weight: 500;
  @include breakpoint(sm) {
    display: none;
  }
}

.orderCode {
  margin-bottom: 30px;
  @include breakpoint(sm) {
    margin-bottom: 2vw;
  }

  &__label {
    font-size: 16px;
    color: $black65;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-radius: 4px;
    @include breakpoint(sm) {
      font-size: 1.1vw;
      padding: 0 1vw;
    }

    &.confirm {
      background-color: #F5FDDA;
      border: 1px solid #81BE33;
    }

    &.pending {
      background-color: #FFFAD7;
      border: 1px solid #DBB628;
    }

    &.cancel {
      background-color: #FFE7DC;
      border: 1px solid #DB3D52;
    }
  }

  &__text {
    font-size: 14px;
    color: $black65;
    margin-top: 5px;
    @include breakpoint(sm) {
      margin-top: .5vw;
      font-size: 1vw;
    }
  }
}