.inputSearch{
  position: relative;
  @include breakpoint(sm){
    width: 13vw;
  }
  > svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include breakpoint(xs){
      left: 15px;
    }
    @include breakpoint(sm){
      left: 1vw;
    }
  }
  .form-control{
    @include breakpoint(xs){
      padding-left: 40px;
    }
    @include breakpoint(sm){
      padding-left: 2.5vw;
    }
  }
}
.form-control{
  @include breakpoint(xs){
    height: 40px;
    font-size: 14px;
    padding: 0 15px;
  }
  @include breakpoint(sm){
    height: 2.8vw;
    font-size: 1vw;
    padding: 0 1vw;
  }
  &:focus{
    box-shadow: none;
    border-color: #ced4da;
  }
  &.form-control-lg{
    @include breakpoint(xs){
      height: 48px;
    }
    @include breakpoint(sm){
      height: 3.3vw;
    }
  }
}

.form-group{
  @include breakpoint(xs){
    margin-bottom: 15px;
  }
  @include breakpoint(sm){
    margin-bottom: 1vw;
  }
  >label{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    @include breakpoint(sm){
      font-size: 1vw;
      margin-bottom: .7vw;
    }
  }
}
.inputSvg{
  position: relative;
  width: 100%;
  .svgArrow{
    position: absolute;
    top: 0;
    right: 0;
  }
}
.inputSelect{
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  @include breakpoint(sm){
    margin-bottom: 1vw;
  }
  select{
    border: none;
    background: transparent;
    font-size: 14px;
    color: $black65;
    padding: 0 15px;
    -webkit-appearance:none;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 18%;
    margin-right: 10px;
    @include breakpoint(sm){
      font-size: 1vw;
      padding: 0 1vw 0 .5vw;
      margin-right: .8vw;
    }
    &:focus{
      outline: none;
    }
  }
  input{
    border: none;
    background: transparent;
    flex: 1 1 auto;
  }
}
textarea.form-control{
  resize: none;
  height: 120px;
  padding: 15px;
  @include breakpoint(sm){
    height: 6.5vw;
    padding: 1vw;
  }
}
select.form-control{
  -webkit-appearance: none;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  @include breakpoint(xs){
    background-position: right 15px center;
  }
  @include breakpoint(sm){
    background-position: right 1vw center;
  }
  @include breakpoint(only-ipad){
    background-size: 1vw;
  }
}
.labelStar{
  &:after{
    content: ' *';
    color: $red;
  }
}
.formMerge{
  @include breakpoint(xs){
    margin-bottom: 15px;
  }
  .form-group{
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    height: 48px;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    @include breakpoint(sm){
      height: 3.3vw;
      padding: 0 1vw;
    }
    > label{
      color: rgba(0,0,0,.45);
      font-size: 12px;
      margin-bottom: 0;
      font-weight: 400;
      width: 100%;
      @include breakpoint(sm){
        font-size: .9vw;
      }
    }
    .form-control{
      background: transparent;
      border: none;
      height: auto;
      border-radius: 0;
      padding: 0;
      color: $color-1;
      font-weight: 500;
      &::-webkit-input-placeholder {color:#021b674d;}
      &::-moz-placeholder {color:#021b674d;}
      &:-ms-input-placeholder {color:#021b674d;}
      &:-moz-placeholder {color:#021b674d;}
    }
    .svgArrow{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      @include breakpoint(sm){
        right: 1vw;
      }
    }
  }
}